.lightbluetext {
    color: #009de2;
}
.onselecthover{
  height: auto;
  /*padding-top: 5%;*/
  

}

.subpages_Title h2{
  font-size: 30px;
  line-height: 30px;
  /*letter-spacing: 2px;*/
  color:#009de2;
  font-weight: 700px ! important;

}
.subpages_Title hr{
  height: 2px;
  width: 95px;
  border: 1px solid #f19000;
  background-color: #f19000;
  /*margin-bottom: 39px;*/
}

/*.onselecthover:hover{
  cursor: pointer;
  border: 1px solid #aaa;
  box-shadow: 0px 0px 19px 4px #999;
  

}*/
.padding_approach{
	padding-left: 110px;
}
.H2weight{
  font-weight: 700;
}
.implementApproach{
	font-size: 17px ! important;
  margin-top: 15px;
}
.marginTop_70{
  margin-top: 50px;
}
.comp_imgDiv{
    width: 815px;
    height: 450px;
    margin-top: 24px;
}
.comp_imgDiv img{
  width: 75%;
  margin-left: 222px;

}
@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 
      .comp_imgDiv img {
              width: 44%;
              margin-left: -50px;
          }
      .downimgtext{
        left:3em ! important;
      } 
      .comp_imgDiv{
        height: 350px ! important;
      } 
      #consultdown_data0{
        width: 345px ! important;
        top:32px ! important;
        right: 3% ! important;
      }  
 }
 @media (max-width: 480px){
    .comp_imgDiv img {
              width: 100%  ! important;
              margin-left: 0px ! important;
          }
    .ct-topbar{
      right: 424px ! important;
    }    
    .topnav a.icon {
    top: -16px;
    right: 498px;
    }
    .new_BT3_innerBlock{
      width: 360px ! important;
    }  
    .services_img {
    width:100% ! important;
    height: 291px ! important;
   
   }
   .BT3_text{
    font-size: 15px ! important;
   }
   .maindivWidth_mob{
    width: 355px ! important;
   }

 }
