.lightbluetext {
    color: #009de2;
}
.onselecthover{
  height: auto;
  /*padding-top: 5%;*/
  

}
.righttextaboutus{
	margin-top: 90px;
	font-size: 17px ! important;
}
/*.onselecthover:hover{
  cursor: pointer;
  border: 1px solid #aaa;
  box-shadow: 0px 0px 19px 4px #999;
  

}*/
.padding_approach{
	padding-left: 110px;
}
.implementApproach{
	font-size: 17px ! important;
}
.marginTop_70{
  margin-top: 50px;
}
.comp_imgDiv{
    width: 815px;
    height: 450px;
    margin-top: 24px;
}
.comp_imgDiv img{
  width: 75%;
  margin-left: 222px;

}
