
.founderbrdcrm{
	margin-top: 20px;
    margin-left: -24px;
    width: 310px ! important;
}
.foundertext h3{
	font-size: 17px ! important;
}
.foundermainDiv{
	margin-top: 70px;
	/*width: 500px;*/
	height: 400px;
}
.para_Spacingforfounder ul{
	padding-left: 17px;
}
@media (min-width:801px)  { 
	.director_img{
    /*padding-left: 160px ! important;*/
   }

}
@media screen and (min-width:768px){
  
   .director_img_para{
   	 padding-left: 82px;
     padding-right: 88px;
   }

  }

   @media only screen and (device-width : 320px) and (device-height : 568px) {
    .backgrd_curve1_mob{
      height: 1400px ! important;
    }
   }
    @media only screen and (device-width : 2560px) and (device-height : 1600px) {
    .backgrd_curve1{
      height: 820px ! important;
    }
    .DirectorText {
      padding-top: 61px ! important;
      padding-right: 167px ! important;
     }
  } 
/*.director_imgDiv img{
	width: 370px;
    height: 370px;
    object-fit: contain;
}
*/

