
.founderbrdcrm{
	margin-top: 20px;
    margin-left: -24px;
    width: 310px ! important;
}
.foundertext h3{
	font-size: 17px ! important;
}
.foundermainDiv{
	margin-top: 70px;
	/*width: 500px;*/
	height: 400px;
}
.para_Spacingforfounder ul{
	padding-left: 17px;
}
.director_imgDiv img{
	width: 370px;
    height: 370px;
    object-fit: contain;
}
