.alternateblock{
	background-color: #f1f1f175;
}
.Textrighgtblock{
	margin-top: 5px;
	/*height: 450px;*/
}

/*.third_img_new {
    width: 83%;
    margin-top: 14px;
}*/
.Type2Img{
	width  : 100%;
	/*height : 85%;*/
	padding:50px;

}

@media screen and (max-width: 600px) {
	.Type2Img{
		padding: 0px ! important;
	}

}
