.contentWraper{
	height: auto;
	background-color: #fff;
	padding-top: 100px;
}

.block{
	background-color: #ffc60b;
    border-radius: 4px;
    box-shadow: 0 10px 29px rgba(92,141,255,.22);
    margin-bottom: 50px;
    padding: 32px 40px 56px;
}

.block h2{
	margin-top: 70px;
	font-size: 28px;
    line-height: 34px;
    font-weight: 600;
}

.contentheader{
	padding-bottom:50px;
}
.contentheader h1{
	font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    letter-spacing: -.4px;
}

.block1height{
  height: 300px;
}
.block2height{
  height: 300px;
}
.block3height{
  height: 300px;
}
.block4height{
  height: 300px;
}
.block5height{
  height: 300px;
}
.block6height{
  height: 300px;
}

.text-justify{
	text-align: justify;
}