.listHeading{
	padding: 5px;
	text-align: center;
}
.clrwht{
	color: #fff;
}
.deletIcon:hover{
	color: #f00;
	cursor: pointer;
}
.onHoverClick:hover{
	color: #f00;
	cursor: pointer;
}
.CNPBtn{
	position: relative;
	top: -8px;
	margin: 0px !important;
}
.CNPBtn .btn{
	margin: 0px !important;
}