.contentWraper1{
   height: auto;
   background-color: transparent;
   padding-top: 161px;
/*    padding-top: 282px;
*/ padding-left: 0px;
   padding-right: 0px;
    /*background-color: #fff;*/
    /*padding-top: 35px;*/
    /*padding: 0;*/
}

.career_para-top{
  font-size: 50px;
  font-weight: 100;
  color: #666666;
  padding-left: 22px;
  margin-top: -118px;
}
.line_subhead1{
  padding-left: 22px;
  font-size: 20px;
  color: #808080;
   margin-bottom: 41px;
   margin-top: 28px;
}
.iogimgblock1{
  width: 100%;
  padding-top: 142px;
}

.iogblock1text{
  padding-top: 100px;
  font-size: 15px;
  margin-top: 142px;
}

.iogblock1text span{
  font-size: 18px;
  font-weight: bold;
}

.colorblue_txt{
	color: #00bfff;
}
/*.angularbracket{
	background-image: url("/images/angular_bracket.svg");
	color:#00bfff;
}*/

.career1_img{
width: 100%;
margin-top: -141px;
padding-right: 45px;
}

.button_1 {
    border-radius: 4px;
    background-color: #00bfff;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding-top: 10px;
    padding-right: 22px;
    padding-bottom: 10px;
    padding-left: 14px;
    width: 136px;
    transition: all 0.5s;
    cursor: pointer;
    /* margin: 5px; */
    margin-top: -16px;
    margin-left: 22px;
    height: -24px;
    border-radius: 40px;
}


.button_1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button_1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  left: 105px;
  transition: 0.5s;
}

.button_1:hover span {
  /*padding-right: 25px;*/

}

.button_1:hover span:after {
  opacity: 1;
  right: 0;
}


.career_para-top2{
  font-size: 50px;
  font-weight: 100;
  color: #666666;
  padding-left: 22px;
  margin-top: 257px;
}
.line_subhead2{
  padding-left: 22px;
  font-size: 20px;
  color: #808080;
  margin-bottom: 41px;
  margin-top: 28px;
}
.career2_img{
 width: 100%;
 margin-top: 160px;
 padding-left: 22px;
}