.lightbluetext {
    color: #009de2;
}
.onselecthover{
  height: auto;
  /*padding-top: 5%;*/
  

}
.Type1_comp_marg_top{
  margin-top: 60px ! important;
}
.righttextaboutus{
	padding-top: 20px;
	font-size: 17px ! important;
  color: #333;
}
.righttextaboutus ul{
  padding-left: 16px ! important;
}
.energypagedata p{
	font-size: 17px ! important;
	text-align: justify;
}
.Type1_comp_padd{
  padding-left: 40px;
}

.intro_img{
  width: 100%
}
.AboutUsLine hr {
  float: left;
  margin-bottom: 0px ! important;
}
.typecomp1DIV1{
  padding-top: 64px;
}
.Typecomponent1Img{
  width: 550px;
  height: 380px;
  /*padding-top: 50px;*/
  /*float:right;*/
}
@media only screen and (device-width : 1440px) and (device-height : 900px) { 
  .Typecomponent1Img img{
  width: 475px ! important; 
  }
}
.TypecomponentImg img {
    width: 500px;
    height: 400px;
    object-fit: contain;
}
/*.onselecthover:hover{
  cursor: pointer;
  border: 1px solid #aaa;
  box-shadow: 0px 0px 19px 4px #999;
  

}*/
@media screen and (max-width: 600px) {
    .Typecomponent1Img{
    width: 300px;
    height: 240px;
    /*padding-top: 50px;*/
    /*float:right;*/
  }
  .MobileDivHeight{
    /*height: 930px ! important;*/
  }

}
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
 .Type1_comp_padd{
    padding-left: 10px ! important;
  }
}

@media (min-width:320px){

  .MobileDivHeight{
    /*height: 635px ! important;*/
  }
   
}
@media (min-width:768px){
  .MobileDivHeight{
    /*height: 300px ! important;*/
  }

  .responsivefooter{
    height: 360px ! important;
  }
 /* .new_round-tabfor4{
    margin-left:127% ! important;
 }*/
/* .new_wizardNotefor4{
  left:113px ! important;
 }*/
 .resmr20{
  color:#fff ! important;
 }

}

@media only screen 
  and (device-width: 1024px) 
  and (device-height: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
  .Typecomponent1Img{
    width: 350px ! important;
  }
}

@media only screen and (device-width : 393px) and (device-height : 851px) { 
   .padding_left_TDesc{
    padding-left: 10px ! important;
   }
    .Typecomponent1Img {
      width: 293px;
      height: 216px;
    }
    .MobileDivHeight{
      height: 730px ! important;
    }
    .Type1_comp_marg_top{
      margin-top: 30px ! important;
    }
  }  
  @media only screen and (device-width : 360px) and (device-height : 640px) { 
   .padding_left_TDesc{
    padding-left: 10px ! important;
   }
    /* .Typecomponent1Img {
      width: 293px;
      height: 216px;
    }
    .MobileDivHeight{
      height: 880px ! important;
    }*/
  }  


  @media only screen and (device-width : 414px) and (device-height : 736px) { 
   .padding_left_TDesc{
    padding-left: 10px ! important;
   }
    /* .Typecomponent1Img {
      width: 300px;
      height: 250px;
      margin-top: 25px;
    }
    .MobileDivHeight{
      height: 880px ! important;
    }*/
  }  
  @media only screen and (device-width : 375px) and (device-height : 812px) { 
   .padding_left_TDesc{
    padding-left: 10px ! important;
   }
     /*.Typecomponent1Img {
      width: 300px;
      height: 250px;
      margin-top: 25px;
    }
    .MobileDivHeight{
      height: 940px ! important;
    }*/
  } 
/*  @media only screen and (device-width : 411px) and (device-height : 731px) {
    .MobileDivHeight{
      height: 700px ! important;
    }
  } 
    @media only screen and (device-width : 411px) and (device-height : 823px) {

      .MobileDivHeight{
        height: 700px ! important;
      }

    }
   @media only screen and (device-width : 320px) and (device-height : 568px) {

      .MobileDivHeight{
        height: 770px ! important;
      }

    }
   @media only screen and (device-width : 375px) and (device-height : 667px) {
     .MobileDivHeight{
        height: 770px ! important;
      }

   }*/



