.lightbluetext {
    color: #009de2;
}
.onselecthover{
  height: auto;
  /*padding-top: 5%;*/
  

}
.righttextaboutus{
	padding-top: 20px;
	font-size: 17px ! important;
  color: #333;
}
.energypagedata p{
	font-size: 17px ! important;
	text-align: justify;
}

.intro_img{
  width: 100%
}
.AboutUsLine hr {
  float: left;
  margin-bottom: 0px ! important;
}
.typecomp1DIV1{
  padding-top: 64px;
}
.Typecomponent1Img{
  width: 590px;
  height: 380px;
  /*padding-top: 50px;*/
  /*float:right;*/
}
.TypecomponentImg img {
    width: 500px;
    height: 400px;
    object-fit: contain;
}
/*.onselecthover:hover{
  cursor: pointer;
  border: 1px solid #aaa;
  box-shadow: 0px 0px 19px 4px #999;
  

}*/
@media screen and (max-width: 600px) {
    .Typecomponent1Img{
    width: 300px;
    height: 380px;
    /*padding-top: 50px;*/
    /*float:right;*/
  }
  .MobileDivHeight{
    height: 550px ! important;
  }

}
