.lightbluetext {
    color: #009de2;
}
.onselecthover{
  height: auto;
  /*padding-top: 5%;*/
  

}
.righttextaboutus{
	padding-top: 20px;
	font-size: 17px ! important;
  color: #333;
}
.righttextaboutus ul{
  padding-left: 16px ! important;
}
.energypagedata p{
	font-size: 17px ! important;
	text-align: justify;
}
.Type1_comp_padd{
  padding-left: 40px;
}

.intro_img{
  width: 100%
}
.AboutUsLine hr {
  float: left;
  margin-bottom: 0px ! important;
}
.typecomp1DIV1{
  padding-top: 64px;
}
.Typecomponent1Img{
  width: 500px;
  height: 380px;
  /*padding-top: 50px;*/
  /*float:right;*/
}
.TypecomponentImg img {
    width: 500px;
    height: 400px;
    object-fit: contain;
}
/*.onselecthover:hover{
  cursor: pointer;
  border: 1px solid #aaa;
  box-shadow: 0px 0px 19px 4px #999;
  

}*/
@media screen and (max-width: 600px) {
    .Typecomponent1Img{
    width: 300px;
    height: 240px;
    /*padding-top: 50px;*/
    /*float:right;*/
  }
  .MobileDivHeight{
    height: 930px ! important;
  }

}
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
 .Type1_comp_padd{
    padding-left: 10px ! important;
  }
}

@media (min-width:320px){

  .MobileDivHeight{
    /*height: 635px ! important;*/
  }
   
}
@media (min-width:768px){
  .MobileDivHeight{
    /*height: 300px ! important;*/
  }

  .responsivefooter{
    height: 360px ! important;
  }
 /* .new_round-tabfor4{
    margin-left:127% ! important;
 }*/
/* .new_wizardNotefor4{
  left:113px ! important;
 }*/
 .resmr20{
  color:#fff ! important;
 }

}

@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
  .Typecomponent1Img{
    width: 350px ! important;
  }
}  

