.l_BT1_para{
    line-height: 23px;
    letter-spacing: 0.5px;
    margin-top: 188px;  
    color: #000;
    margin-left: 52px;
    font-size: 18px;
}
.line3{
	background-color: #f08f00;
    width: 90px;
    height: 4px;
    margin-top: 40px;
    margin-left: 32px;
}
.About5block{
    height: 430px;
    padding-top: 50px;
}
.truck img{
   /* width: 500px;
    height: 500px;*/

}
.righttextaboutus ul{
    font-size: 17px ! important;
}

.righttextaboutus p{
    font-size: 17px ! important;
}
.TypecomponentBtnImg{
  width: 500px;
  height: 380px;
  padding-top: 50px;
  /*float:right;*/
}
.TypecomponentBtnImg img{
  width: 500px;
  height: 400px;
  object-fit: contain;

  /*height: 100%;*/
  /*width: 100%;*/
}

@media screen and (max-width: 600px) {
    .About5block{
        height: 560px ! important;
    }
 }   
