.l_BT1_para{
    line-height: 23px;
    letter-spacing: 0.5px;
    margin-top: 188px;  
    color: #000;
    margin-left: 52px;
    font-size: 18px;
}
.line3{
	background-color: #f08f00;
    width: 90px;
    height: 4px;
    margin-top: 40px;
    margin-left: 32px;
}
.About5block{
    height: 400px;
    padding-top: 50px;
}
