.innerBlocktepmlate4{
	height: auto;
}
.B3T_challengesDiv {
    top: 25px;
    height: 190px;
    /*width: 303px;*/
    box-shadow: 3px 6px 4px 2px #eee;
    /*margin-left: 32px;*/
    margin-bottom: 40px;
}
.B4T_img{
	margin-left: 77px;
	height: 80px;
  border-radius: 26px;
}
.B4T_txt{
	margin-top: 25px;
	margin-left: 20px;
}
.B4T_line{
    background-color: #f08f00;
  	width: 90px;
  	height: 4px;
  	top: 54px;
    left: 15px;
  	position: absolute;
  	z-index: 999	
}
.B2T_challengesTitle{
	/*top: 53px;
    left: 563px;
    position: absolute;*/
    color: #009de2;
    font-size: 35px;
    font-weight: 600;
}