.contentWraper1{
   height: auto;
   background-color: transparent;
   padding-top: 161px;
/*    padding-top: 282px;
*/ padding-left: 0px;
   padding-right: 0px;
    /*background-color: #fff;*/
    /*padding-top: 35px;*/
    /*padding: 0;*/
}
.iogimgblock1{
    width: 100%;
    /* padding-top: 143px; */
    /*padding-left: 69px;*/
    /*margin-left: 52px;*/
    height: 389px;
}
.CareerBlockHighDef{
    position: absolute;
    right: 42px;
    width: 404px ! important;
}

.iogblock1text{
    padding-top: 85px ! important; 
    font-weight: normal ! important;
    font-style: normal ! important;
    line-height: 1 ! important;
    margin-bottom: 4px ! important;
    color: #000000bd ! important;
    font-size: 15px ! important;
    padding-left: 29px ! important;
    height: 350px ! important;
    text-align: left ! important;
}

.iogblock1text span{
  font-size: 18px;
  font-weight: bold;
}
.iogimgblock2{
    /*width: 111%;*/
    padding-top:4px;
    /*padding-left: 5px;*/
    margin-left: -27px;
    height: 783px;
}
.iogimgblock2 img{
    width: 433px;
    height: 100%;
    object-fit: contain;
}
.careerBox{
    box-shadow: 0 10px 29px rgba(92,141,255,.22);
}
.iogblock2text{
    /*padding-top: 91px;*/
    border-left: 1px #eee;
    /* padding-bottom: 112px; */
    font-size: 15px;
    padding-left: 25px;
    margin-top: 92px;
    margin-left: -20px;
    width: 94%;
    height: 294px;
}

.iogblock2text span{
  font-size: 18px;
  font-weight: bold;
}
.alignment_rw{
    margin-top: -95px;
}
.iogimg_4 img{
    width: 98.3%;
    margin-top: -12px;
    object-fit: contain;
}

.iogimgblock3{
    width: 427px;
   /* padding-left: 76px;
    margin-left: 29px;*/
    height: 362px;
}

.iogblock3text{
    font-size: 15px;
    /*padding-left: 87px;*/
    /*margin-left: 33px;*/
    width: 380px ! important;
    height: 350px;
    padding-top: 60px ! important;
    padding: 64px;
    /* margin-top: 82px; */
}
.iogblock3text p,span{
    color:#fff;
}

.iogblock3text span{
  font-size: 18px;
  font-weight: bold;
}
.alignment_rw{
    /*margin-top: -95px;*/
}
.c-block{
    margin-top: 194px;
    margin-left: 48px;
}
.c-block-content-box.stat.half-width {
    display: inline-block;
    float: left;
    width: 50%;
    padding-right:50px;
    padding-left:60px;
    float: right !important;
}
.c-block-content-box {
    color: #2570af;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.stat-number {
    font-weight: normal;
    font-style: normal;
    /* font-size: 115px; */
    line-height: 1;
    margin-bottom: 4px;
    /*color: #2570af;*/
}
.stat-desc {
 /*   font-weight: normal;
    font-style: normal;
    font-size: 0.75em;
    text-transform: uppercase;*/
    letter-spacing: 0.5px;
    padding-top: 33px;
    }

.iogimgblock4{
    width: 95%;
    padding-top: 95px;
    padding-left: 69px;
    margin-left: -48px;
}
.no_padding_left{
    padding-left: 0px;
}

.iogblock4text{
    padding-top: 37px;
    font-size: 15px;
    /*padding-left: 39px;*/
    /*margin-left: 25px;*/
    width: 100%;
    padding-bottom: 59px;
}

.iogblock4text span{
  font-size: 18px;
  font-weight: bold;
}
.dist_top{
  padding-top: 13px;
}

.video_block{
    background-image: url("/images/video1.png");
    height: 443px;
    margin-left: 14px;
    margin-top: -20px;
}
.head_firstblock{
    font-size: 21px;

}
.firstblockk{
    color: #fff ! important;
   padding-top: 28px;
}
.firstblockk p,span {
    color:#fff ! important;
    font-weight: 500;
}

.secondblockk{
    padding-top: 16px;
 }

.thirdblockk{
    margin-top: 17px;
}

.content_sizee{
    font-size: 18px;
}

.bckgblck_color_yellow{
    background-color: #ffbd41;
}

.bckgblck_color_blue{
    background-color: #1378d4;
    color: #fff;
}

.iogimg_4{
    width: 800px;
    height: 315px;
    margin-left: 14px;
    /* margin-top: -20px; */
    padding-right: 5px;
    /* margin-top: -20px; */
}

.fourthblockk{
   padding-top: 17px;
}

.center_block_text{

}

.blckk_imgg{
    margin-left: 23px;
    margin-top: 81px;
    width: 79%;
}

.ht_row2{
        height: 150px;
}

.ht_row1{
      height: 393px;  
}
.ht_row3{
        
}
.ht_row4{
        
}

.ht_top{
    margin-top: 82px;
    padding-left: 50px;
}

.mb_100{
    margin-bottom: 100px;
}
@media screen and (min-width: 1440px) {
    .iogblock1text{
            padding-top: 112px ! important; 
            font-weight: normal ! important;
            font-style: normal ! important;
            line-height: 1 ! important;
            margin-bottom: 4px ! important;
            color: #000000bd ! important;
            font-size: 15px ! important;
            padding-left: 29px ! important;
            height: 503px ! important;
            text-align: left ! important;
}



}
@media screen and (min-width:321px) and (max-width:768px){

    .responsivefooter{
        /*height: 550px ! important;*/
    }
    .iogblock1text{
        height: 182px ! important;
        padding-top: 10px ! important;
    }
    .head_firstblock{
        font-size: 15px ! important;
    }
    .firstblockk{
        font-size: 12px ! important;
        padding-top: 13px ! important;
    }
    .iogblock2text{
        padding-top: 0px ! important;
        margin-top: 0px ! important;
    }
    .ht_row1{
        height: 265px ! important;
    }
    .iogblock1text{
        padding-left: 15px ! important;
    }
    .iogimgblock2{
        height: 379px ! important;
    }
    .iogblock3text{
        font-size: 11px ! important;
    }
    .ht_row2{
        height: 70px ! important;
    }
    .iogblock3text{
        height: 188px ! important;
    }
    .ht_row3{
        height: 210px ! important;
    }
    .iogimg_4{
        margin-left: 0px ! important;
    }
    .iogimg_4 img{
        width: 416px ! important;
    }
    .iogblock3text{
        padding-top: 10px ! important;
        padding-left: 0px ! important;
        padding-right: 0px ! important;
        width: 290px ! important;
    }
    .iogblock4text{
        padding-top: 0px ! important;
        font-size: 11px ! important;
    }
    .center_block_text{
        font-size: 15px ! important;
        /*margin-left: 23px ! important;*/
    }
    .iogblock3text p{
        text-align: center;
    }
}
@media screen and (min-width: 411px) {
   .career_para-top2{
        margin-top: 100px ! important;
    }
}

@media screen and (min-width: 600px) {
    .iogimg_4 img{
        /*width: 240px ! important;*/

    }
    
 }  
@media screen and (min-width: 1900px) {
     .CareerBlockHighDef{
        right: 87px ! important;
        width: 500px ! important;
     }
     .iogimgblock2 img{
        margin-top: 195px ! important;
     }
     .iogimgblock3{
        width: 600px ! important;
     }
     .iogblock3text{
        width: 600px ! important;
        padding-top: 180px ! important;
     }  
     .iogimgblock2{
        padding-left: 0px ! important;
        margin-left: -33px ! important;

     } 
     .iogblock1text{
        padding-top: 178px ! important;
     }
     .ht_top{
        padding-left: 82px ! important;
     }
     .ht_row2{
        height: 250px ! important;
     }
} 
@media only screen 
  and (device-width: 1440px) 
  and (device-height: 900px) 
  /*and (orientation: landscape) */
  /*and (-webkit-min-device-pixel-ratio: 1.5)*/
   {
    .iogblock3text{
        padding-top: 100px ! important;
        padding-left: 55px ! important; 
        width: 413px ! important;
        height: 362px ! important;
    }

   }

@media only screen 
  and (device-width: 1024px) 
  and (device-height: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .iogblock1text{
        padding-top: 57px ! important;
    }
    .iogblock2text{
        margin-top: 0px ! important;
    }
    .iogimgblock2{
        height: 600px ! important;
    }
    .iogblock3text{
        padding: 25px ! important;
        height: 265px ! important;
    }
    .iogimg_4{
        margin-left: 0px ! important;
    }
    .iogimg_4 img{
        /*margin-top: -102px ! important;*/
        width: 97% ! important;
    }
    .iogimgblock3{
        height: 262px ! important;
    }
 }

@media only screen 
  and (device-width: 1024px) 
  and (device-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .pt20{
      padding-top: 20px ! important;
    }
    .iogimg_4 img{
      width: 96.3%;
    }
    .iogimgblock2 img{
      height: 123%;
    }
    .blogtext p{
      height: 185px ! important;
    }
    .journytextblock{
      height: 129px ! important;
    }
    .Journycaro9{
      top:1145px ! important;
    }
    .add10{
      left: 128px ! important;
      top: -67px ! important;
    }
    .Journycaro4{
      display: none;
    }
    .add9{
      left:172px ! important;
      top:157px ! important;
    }
    .Journycaro10{
      left:285px ! important;
    }
    .newcard_HD{
      width: 220px ! important;
    }
    .newcard {
    width: 255px ! important;
    }
    .navigation_tab{
      margin-left: 25px ! important;
    }.new_wizardNotefor9{
      right: 0px ! important;
    }
    .secondblockk {
    /*padding-top: 100px;*/
    }
    .iogblock1text{
        padding-top: 30px ! important;
    }
    .iogimgblock2{
            height: 1007px;
            margin-top: -170px;
    }
    .iogimgblock2 img{
        object-fit: none;
    }
  } 

  @media only screen 
  and (min-width: 1440px) 
  and (max-height: 900px)  {
    .secondblockk{
        /*padding-top: 80px ! important;*/
    }
    .iogimgblock2{
        height: auto ! important;
    }
    .CareerBlockHighDef {
        position: absolute;
        right: 43px;
        width: 427px ! important;
    }
    .iogimg_4 img{
        width: 98.1%;
        margin-top: 2px;
    }
    .iogblock4text{
        margin-top: 100px ! important;
    }
    .iogblock1text{
        padding-top: 70px ! important;
    }

  }
   @media only screen 
  and (device-width: 1024px) 
  and (device-height: 768px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .iogblock1text {
        /*height: 270px ! important;*/
    }
    .iogimgblock2{
        height: 595px ! important;
    }
    .iogblock2text{
        margin-top: 0px ! important;
    }
    .iogblock1text{
        padding-top: 80px ! important;
    }
    .iogimg_4 img{
        margin-top: -61px ! important;
    }
    .iogimg_4{
        margin-left: 0px ! important;
    }
    .iogblock4text{
        padding-top: 0px ! important;
    }
    .iogblock3text{
        padding-top: 65px ! important;
        padding-left: 20px ! important;
    }
   
  } 
    @media only screen 
  and (device-width: 768px) 
  and (device-height: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
        .iogimgblock2 {
        height: 365px ! important;
    }

   
  } 
    @media only screen 
  and (device-width: 768px) 
  and (device-height: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
   .iogimgblock2 img{
    height: 97% ! important;
   }
   .center_block_text{
    font-size: 13px ! important;
   }
   .iogblock3text{
    padding: 8px ! important;
   }
   .firstblockk{
    letter-spacing: 1px ! important;
   }

   
  } 
@media only screen and (device-width : 393px) and (device-height : 851px) { 
    .Padding_career{
        /*margin-top: -260px ! important;*/
    } 
    .panel-default>.panel-heading a{
            padding: 10px 3px ! important;
    }
    .career_para-top2{
        padding-left: 5px ! important;
    }
 }   

@media only screen and (device-width : 375px) and (device-height : 812px) { 
    .Padding_career{
        /*margin-top: -260px ! important;*/
    } 
   
 }  

 @media only screen and (device-width : 414px) and (device-height : 736px) { 
    .Padding_career{
        /*margin-top: -200px ! important;*/
    } 
   
 } 

 @media only screen 
  and (device-width: 2048px) 
  and (device-height: 1536px) 
  and (orientation: landscape){
   
    .CareerBlockHighDef {
      right: 134px ! important;
    }
    .ht_top{
      /*padding-left: 130px ! important;*/
    }
    .iogimgblock2{
      margin-left: -56px ! important;
    }
    .iogimgblock2{
      height: 848px ! important;
    }
    .iogblock3text{
      width: 631px ! important;
      /*margin-left: 62px ! important;*/
    }
    .iogimgblock3 {
        width: 637px ! important;
    }
    .iogimg_4 img{
      width: 99.3% ! important;
    }
    .iogblock4text{
      padding-top: 145px ! important;
    }
    

  } 
  @media only screen 
  and (device-width: 2560px) 
  and (device-height: 1600px) 
 {
   
    .CareerBlockHighDef {
      right: 134px ! important;
      width: 671px ! important;
    }
    .iogblock2text{
      padding-top: 355px ! important;
    }
    .ht_top{
      margin-top: 130px ! important;
    }
    .iogimgblock2 {
      height: 1156px ! important;
    }
    .iogimgblock2{
      margin-left: -56px ! important;
    }
    .iogblock3text{
      width: 803px ! important;
      height: 690px ! important;
      /*margin-left: 62px ! important;*/
    }
    .iogimgblock3 {
        width: 798px ! important;
    }
    .iogimg_4 img{
      width: 99.3% ! important;
    }
    .iogblock4text{
      padding-top: 145px ! important;
    }
    .iogimg_4 {
     width: 1490px ! important;
     /*margin-top: 186px;*/
   }
   .iogblock4text {
    padding-top: 254px ! important;
  }

    

  } 
  @media only screen 
  and (device-width: 1536px) 
  and (device-height: 2048px) 
  and (orientation: portrait){
    .CareerBlockHighDef {
     right: 69px ! important;
     width: 431px ! important;
    }
    .iogimgblock2{
      height: 915px ! important;
    }
    .iogblock3text{
      width: 440px ! important;
    }
    .iogblock3text{
      /*margin-left: 42px ! important;*/
    }
    .iogimg_4{
      width: 877px ! important;
    }
    .iogimg_4 img{
      width: 100% ! important;
    }
    .iogimgblock3{
      width: 470px ! important;
    }
    .iogblock4text{
      padding-top: 113px ! important;
    }

  }    
  

