
.BT3_text1{
	margin-top: 40px;
}
.BT3_text11{
	padding-top: 150px;
	padding-right: 65px;
}
.BT3_innerBlockImage{
	height: 485px;
	width:700px;
	overflow: hidden;
}
.BT3_innerBlockImage img{
	width: 536px;
    height: 500px;
    object-fit: contain;
    float:right;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.BT3_innerBlockImage{
		width: 280px ! important;
	}
	.BT3_text11{
		padding-top: 0px ! important;
	}
}
@media only screen and (min-device-width : 411px) and (max-device-width : 823px) {
	
	.BT3_text11{
		padding-right: 29px ! important;
	}
}
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
	
	.BT3_text11{
		padding-right: 0px ! important;
	}
}
