.reparebtn{
  font-size: 13px;
  background-color: #7B943F;
  border-radius: 0px;
  padding: 17px 45px;
  color: #fff;


}

.webclientbackimg{
    color: #000;
    font-size: 15px;
    box-shadow: 0 10px 29px rgba(92,141,255,.22);
    border-radius: 8px;
    width: 405px;
}


.webclientcaro h3{
  text-align: left;
  font-weight: bold;
}
.webclientcaro{
  height: 137px;
  width: 385px;
}