
.carocontainer{
  margin: 0% auto;
  width: 210px;
  height: 380px;
  position: relative;
  perspective: 100000px;
}
#carousel{
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  animation: rotation 20s infinite linear;
}
#carousel:hover{
  animation-play-state: paused;
}
#carousel figure{
  display: block;
  position: absolute;
  width: 350px;
  height: 116px;
  left: 10px;
  top: 10px;
  /*background: black;*/
  /*overflow: hidden;*/
  /*border: solid 5px black;*/
}
#carousel figure:nth-child(1) {transform: rotateY(0deg) translateZ(300px);}
#carousel figure:nth-child(2) { transform: rotateY(72deg) translateZ(300px);}
#carousel figure:nth-child(3) { transform: rotateY(144deg) translateZ(300px);}
#carousel figure:nth-child(4) { transform: rotateY(216deg) translateZ(300px);}
#carousel figure:nth-child(5) { transform: rotateY(288deg) translateZ(300px);}
/*#carousel figure:nth-child(6) { transform: rotateY(200deg) translateZ(288px);}
#carousel figure:nth-child(7) { transform: rotateY(240deg) translateZ(288px);}
#carousel figure:nth-child(8) { transform: rotateY(280deg) translateZ(288px);}
#carousel figure:nth-child(9) { transform: rotateY(320deg) translateZ(288px);}
*/


@keyframes rotation{
  from{
    transform: rotateY(0deg);
  }
  to{
    transform: rotateY(360deg);
  }
}

.upstreamcontentheader h1{
  font-size: 40px;
}

.upstreamcontentheader hr{
  height: 2px;
  width: 100px;
  border: 1px solid #f19000;
  background-color: #f19000;
}





.blogsimg img{
  height: 250px;
}

.blogtext p{
  text-align: justify;
  padding: 10px 40px;
}

.latestblog{
  margin-bottom: 50px;
}