.upstreamcontentheader h1{
  font-size: 40px;
}

.upstreamcontentheader hr{
  height: 2px;
  width: 100px;
  border: 1px solid #f19000;
  background-color: #f19000;
}





.blogsimg img{
  height: 250px;
}

.blogtext p{
  text-align: justify;
  padding: 10px 20px;
}

.latestblog{
  margin-bottom: 50px;
}