.blogContentDiv p, .blogContentDiv li{
	font-family: 'Raleway', sans-serif ;
	font-size: 16px !important;
	line-height: 25px;
	color:#666;
}
.imgContainerInner{
	height: auto;
	
}
.blogcontenttext{
    height: 460px;
    border-radius: 8px;
    margin-top: 50px;
}
.blogSubImg{
    height: 270px;
    border-radius: 5px;
    width: 100%;
}