.B2T1_line{
    background-color: #f08f00;
  	width: 90px;
  	height: 4px;
  	top: 36px;
    /*left: 60px;*/
  	/*position: absolute;*/
  	z-index: 999	
}
.innerBlocktepmlate1{
	height: auto;
}
.B2T_overviewTitle{
	  /*top: 53px;
    left: 419px;
    position: absolute;*/
    color: #009de2;
    font-size: 35px;
    font-weight: 600;
    margin-top: 76px;
    margin-top: 60px;
}
.ContentHeadreMargin{
  margin-top: 50px;
}

.B2T_p{
	/*position: absolute;
    top: 154px;*/
    font-size: 17px;
    text-align: justify;
}
.B2T_overviewTxt{
	height: 260px;
	width:  414px;
  padding-left: 130px;
}
.B2T_btn{
 position: absolute;
 top:350px;

}
.readmore{
	position: absolute;
    top: 360px;
    left: 130px;
    color: #ffffff;
}
.websiteclass{
  padding-top: 40px;
  height: 300px;
  margin-bottom: 50px;
}
@media(max-width : 768px){
  .B2T1_line{
    margin-left: 172px;
  }
}
@media(max-width : 767px){
  .B2T1_line{
    margin-left: 61px;
  }
}