.B2T1_line{
    background-color: #f08f00;
  	width: 90px;
  	height: 4px;
  	top: 36px;
    /*left: 60px;*/
  	/*position: absolute;*/
  	z-index: 999	
}
.innerBlocktepmlate1{
	height: auto;
}
.B2T_overviewTitle{
	  /*top: 53px;
    left: 419px;
    position: absolute;*/
    color: #009de2;
    font-size: 35px;
    font-weight: 600;
    margin-top: 76px;
    margin-top: 60px;
}
.ContentHeadreMargin{
  margin-top: 50px;
}

.B2T_p{
	/*position: absolute;
    top: 154px;*/
    font-size: 17px;
    text-align: justify;
}
.tempaltepadding{
    padding-left: 60px;
    padding-right: 46px;
}
.B2T_overviewTxt{
  overflow: hidden;
	height: 420px;
	/*width:  414px;
  padding-left: 130px;*/
}
.B2T_btn{
 position: absolute;
 top:350px;

}
.readmore{
	position: absolute;
    top: 360px;
    left: 130px;
    color: #ffffff;
}
.energypagedata ul{
  padding-left: 18px;
}
.energypagedata p{
  font-size: 17px ! important;
}
.B2T_overviewTxt img{
  width: 100%;
  height: 400px;
  /*filter: grayscale(.5);*/
   object-fit: contain;
  /*height: 100%;
  width: 100%;*/
  /*padding-top: 30px;*/
}
.righttextaboutus p{
  font-size: 17px ! important;
}
.websiteclass{
  /*padding-top: 40px;*/
  /*height: 300px;*/
  margin-bottom: 40px;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .tempaltepadding{
    padding-left: 0px ! important;
    padding-right: 0px ! important; 
  }
}
@media(max-width : 768px){
  .B2T1_line{
    margin-left: 172px;
  }
  .B2T_p{
    padding-right: 0px ! important;
  }
}
@media(max-width : 767px){
  .B2T1_line{
    margin-left: 61px;
  }
}

.B2T_overviewTxt img:hover{
  animation: bloom ease-in-out .75s forwards;
  /* -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.1); 
  transition: all 2s ease-in-out;*/
}
.B2T_overviewTxt img:hover::before {
  animation: circle .75s;
}

@keyframes bloom {
  0% {
    filter: grayscale(.8);
  }
  40% {
    filter: grayscale(.5);
  }
  100% {
    filter: grayscale(0);
  }
}
@keyframes circle {
  0% {
    opacity: .5;
    background: rgba(213,156,34,.2);
    
  }
  40% {
    opacity: 1;
    background: rgba(213,34,160,.2);
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}
  @media only screen and (device-width : 320px) and (device-height : 568px) { 
    .B2T_overviewTxt{
      height: auto;
    }
  }