.innerBlocktepmlate6{
	height: auto;
  padding:0px;
  margin-bottom: 50px;
}
.B3T_NewsDiv {
    /*top: 130px;*/
    height: 190px;
    /*width: 303px;*/
    box-shadow: 3px 6px 4px 2px #eee;
    margin-right: 20px;
    margin-bottom: 40px;
}
.news_img{
	/*margin-left: 77px;*/
	height: 80px;
}
.B4T_txt{
	margin-top: 25px;
	margin-left: 20px;
}
.B4T_line{
    background-color: #f08f00;
  	width: 90px;
  	height: 4px;
  	top: 54px;
    left: 15px;
  	position: absolute;
  	z-index: 999	
}
.B2T_challengesTitle{
	top: 53px;
    left: 563px;
    position: absolute;
    color: #009de2;
    font-size: 35px;
    font-weight: 600;
}
.eventImg{
  height: 100%;
}
.EventIMageDiv{

}
.blogsimg1{
  overflow: hidden;
  /*width: 100%;*/
  height: 200px;
}
.blogsimg1 img{
  width: 100%;
  /*height: 200px;*/
}

.yearbox{
    box-shadow: 0px 0px 2px 3px #c2b9b9;
    width: 60px;
    height: 47px;
    /*padding-left:10px;*/
    padding-top: 7px;
    overflow: hidden;
    margin-right: 45px;
    font-size: 11px;
    color:#333;
    border-radius: 3px;
}
.maindivNews{
  margin-top: 25px;
  min-height: 325px;
}
.newsheading{
  font-weight: 700;
  color:#009de2;
}
.Newsbannerimg{
  height: 200px;
}
.eventdesc{
  padding: 16px;
  font-size: 14px;
  font-weight: 500;
}
.NwesBoxShadow{
  box-shadow: 0px 0px 5px 0px #b7a7a7;
  height: 325px;
  border-radius: 7px;
  margin-bottom: 20px;
}
.eventImage{
  height: 200px;
  width: 300px;
}
@media screen and (max-width:768px){
  .blogsimg1{
    height: 150px ! important;
  }
} 
 