/*@media only screen and (width: 1200px) {
  #headerid {
    width: 82.0% !important;
  }
   #dashbordid {
    width: 80% !important;
  }
}*/

.dropmailtext{
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0px !important;
}
.colorbox{
  background: #367EA8;
  height: 50px
}
.fntC:hover {
  color: #333;
}
.fntC {
  margin-top: 2px;
  font-size: 12px;
  color: #333;
}

.hover:hover{
    height: 50px;
    cursor: pointer;
}
.img{
    position: absolute;
    top: 15px;
    height: 25px;
}


#mySidenav .closebtn:hover {
  background-color: #fff;
  border:0px;
  color: #333;
}
#mySidenav .closebtn i:hover {

  box-shadow: 0px 0px 10px #aaa;
}
#mySidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 14px;
  margin-left: 50px;
}

#mysidenav{
  transition: all 0.8s ease 0s;
  z-index: 100;
}
.showme{ 
  display: none;
}
.showhim{
  display : block;
}
.showhim .hover{
  background-color: #0d5c8a;
}
.logoutAct{
  z-index: 999;
}

.arrow-up {
  margin-left: 84%;
  width: 0;
  height: 0;
  margin-top: 50px;
}
.bell_Icon{
    font-size: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #aaa;
    cursor: pointer;
    /* padding-left:5px; */
}
.logoutDiv{
  margin-bottom: 35px;
}
.mailtext:hover{
  color: #666;
}
.mailtext{
  overflow: hidden;
  position: absolute; 
  text-overflow: ellipsis;
}
#headerid {
  position: fixed;
  width: 82.8%;
  z-index: 5;
  right: 0;
  height: 50px;
  background-color: #f8f8f8;
  transition: all .8s;
  /* box-shadow: 0 10px 14px rgba(92,141,255,.2); */
  transition-duration: 0.4s;
}

#dashbordid{
  position: absolute;
  width: 82.9%;
  right: 0px;
  transition: all 0.4s;
  top:50px;
  }

.fs12{
  font-size: 12px;
}
.hoverText{
  font-size: 12px;
  font-weight: bold;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.headicon{
    font-size: 14px;
    padding-top: 18px;
    color: #aaa;
    cursor: pointer;
}
.dropbtn {
    color: #666;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropbtn {
    color: #666;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-bottom: 0px;

}
.dropdown {
    position: relative;
    display: inline-block;
    z-index: auto;
}

.dropdown-content {
    display: none;
    position: absolute;
    
    min-width: 240px !important;
    box-shadow: 0px 8px 8px 0px #eee;
    z-index: 1;
    border-radius: 5px;
    border: 1px solid #f1f1f1;
}

.dropdown-content .deleteNotif:hover {background-color: #f1f1f1;
    cursor:pointer;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn { color:#666;}

.dropdown-content .deleteNotif:hover { 
    cursor: pointer;
    color: #666666;
    padding: 7px 7px;
    text-decoration: none;
    display: block;
    border-radius: 3px;}
.dropdown:hover .dropdown-content {display: block; }
.dropdown:hover .dropbtn { color:#666;}

.pageHeader{
    height: 50px;
}
.padd0{
  padding: 0px;
}
.marTop{
  margin-top: 16px;
}
.btnDiv{
  margin-top: 10px; 
  margin-bottom: 10px;
}
.marLeft{
  margin-left: 100px;
  padding-bottom: 5px;
}
.dropdown:hover .dropbtn{
  background: transparent!important;
}
.nomargin{
  margin: 0px;
}
.topmargin{
  margin-top: 10px;
  width: 30px;
  margin-left: 10px;
}
.topmargin:hover{
  background: none;
}
.nopadd{
padding: 5px 5px !important;
}
.btnpadd{
  padding: 0px 0px !important;
  background: none !important;
}

.borderline{
  border: 1px solid #ddd;
  margin: 10px  0px !important;
}

.profilebtn{
  /*background: var(--blue-color );*/
  color: #fff;
  background-color: #3c8dbc;
  font-weight: 200;
  border: 1px solid #ddd6 !important;
  font-size: 13px;
  padding: 6px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
 /* border-radius: 23px;*/
  outline: 0;
  border: 1px solid #aaa;
}
.profilebtn:hover{
  background:#ddd ;
  color: #666;
  border: 1px solid #aaa !important;
}
.logoutbtn{
  /*background:  rgb(221, 75, 57);*/
  background-color: #3c8dbc;

  color: #fff;
  font-weight: 200;
  border: 1px solid #ddd6 !important;
  font-size: 13px;
  padding: 6px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  /*border-radius: 23px;*/
  outline: 0;
  border: 1px solid #aaa;
}
.logoutbtn:hover{
  background:#ddd ;
  color: #666;
  border: 1px solid #aaa !important;

}
.profileTitle{
  cursor: pointer;
}

.hover:hover i{
    /* color: #fff !important; */
}
.img{
    position: absolute;
    top: 15px;
    height: 25px;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 50px;
  right: 0;
  background-color: #222d32;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 0px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #333;
  display: block;
  background-color:#fff;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
  background-color: #303F9F;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav a {font-size: 18px;}
}

#mysidenav{
  transition: all 0.8s ease 0s;
  z-index: 100;

}
.fontB{
  color: #333;
}
.hover{
  height: 50px;
}
.msgnotification{
  margin-bottom: 10px;
  background-color: #eeeeee;
  padding-top: 15px;
  padding-bottom: 8px;
  border: 1px solid #3333;
}
 .bellicon{
  text-align: center;
 }
 .notification{
  margin-top: 11px;
  color: #333;
 }
 .fa-bell:hover{
   color: #333;
 }
.notification .badge {
  position: absolute;
  top: 5px;
  right: 6px;
  padding: 4px 7px;
  border-radius: 50%;
  background-color: red!important;
  color: white;
}
.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #777;
  border-radius: 10px;
}
.bellnotification{ 
  display: none;
  padding: 5px;
  overflow: scroll;
   position: absolute;
    height: 350px;
    width: 300px;
    left:-60px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin-top: 1px;
    background: #fff;
    color: #666;

}
.user-notification{
  color: #0c0c0c;
  font-weight: 600;
  font-size: 16px;
}
.user-footer {
    position: absolute;
    min-height: 236px;
    width: 275px;
    left:-40px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin-top: 1px;
    background: #fff;
}
.headerImageContainer{
  height:175px;
  background-color: #3c8dbc;
  text-align: center;
  padding-top: 10px;
  color: #fff;
}
.user-closernoti{
  color: #0c0c0c;
  font-weight: 600;
}

.user-closernoti p{
  font-size: 12px;
}
.msgborderbtm{
  border-bottom: 1px solid #eee;
  font-size: 12px;
  font-weight: 400;
  /*padding: 5px;*/
  color: #666;
}

.headereffect
{
  width: 96.3%!important;
}
.dashboardeffect
{
  width: 96.3%!important;
}
.userIcon{
  height: 25px;
  width:25px;
}
.onHoverEffect:hover{
  background-color: #fefefe !important;
  color: #222;

}
@media only screen and (width: 1400px) {
  #headerid {
    width: 84.6% ;
  }
   #dashbordid {
    width: 84.6% ;
  }
  .headereffect
  {
    width: 95.8%;
  }
  .dashboardeffect
  {
    width: 95.8%;
  }
}

@media only screen and (width: 1200px) {
  #headerid {
    width: 81.6% ;
  }
   #dashbordid {
    width: 81.6% ;
  }
  .headereffect
  {
    width: 93%;
  }
  .dashboardeffect
  {
    width: 93%;
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  #headerid {
    width: 83.8% ;
  }
   #dashbordid {
    width: 83.8% ;
  }
  .headereffect
  {
    width: 93.2%;
  }
  .dashboardeffect
  {
    width: 93.2%;
  }
}

@media only screen and (min-width: 1250px) and (max-width: 1300px) {
  #headerid {
    width: 83% ;
  }
   #dashbordid {
    width: 83% ;
  }
  .headereffect
  {
    width: 93%;
  }
  .dashboardeffect
  {
    width: 93%;
  }
}

@media only screen and (min-width: 1401px) and (max-width: 1500px) {
  #headerid {
    width: 85% ;
  }
   #dashbordid {
    width: 85% ;
  }
  .headereffect
  {
    width: 93%;
  }
  .dashboardeffect
  {
    width: 93%;
  }
}
.fntC1{
    font-size: 12px;
    color: #fff;
    margin-right: 9px;
}


.headerbgcolor{
  background-color: #337ab7;
}

.clrwhtbgtp ul li a{
  color: #fff;
  background-color: transparent;
}
.whtclrHeaderBrand{
  color: #fff;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #eee;
      color: #333;

}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 105px !important;
    height: 91px;
    left: 0px;
    top:48px;
    text-align: center;
    box-shadow: none !important;
    z-index: 1;
    /*padding: 15px;*/
    background: #fff;
    border-radius: 5px;
    border: 1px solid #1b1a1a;
}
.dropbtn:hover .dropdown-content{
      display: block;
}
.dropdown-content li a{
  color: #333 !important;
  text-align: center!important;
  margin:5px;
  padding: 15px !important;
}
#blogbtnid{
  background: transparent !important;
  /*color: #fff;*/
  border: none;
}

#blogbtnidA :hover a{
  /*background: transparent !important;*/
  color: #333;
}
.dpdnBoxLi{
  height: 28px;
  padding-top: 5px;
}
.dpdnBoxLi:hover{
  background-color: #ddd;
}