.breadcrumb>li+li:before{
	
}
.vision_align1{
	font-weight: 700;
}
.visionHeight{
	height: 615px;
}
.Typecomponent1Img_vision{
  width: 590px;
  height: 380px;
  /*padding-top: 50px;*/
  /*float:right;*/
}

@media screen and (max-width: 600px) {

	.blck1heightnew{
		width: 305px ! important;
	}
	.visionHeight{
	height: 960px ! important;
}
.blck1heightnew{
	height: 214px ! important;
}
.blck{
	padding-top: 15px ! important;
}
..About5block{
	padding-top: 0px ! important
}

}	
@media (min-width:768px) {
	.blck{
	padding-top: 15px ! important;
}

}
