 .innerBlock5tepmlate{
 	height: auto;
 }
 .B4T_ServicesDiv{
    top: 45px;
    border-radius: 5px;
    box-shadow: 0px 0px 14px 0px #b7b3b3;
    margin-left: 70px;
    margin-bottom: 55px;
    height: 200px;
    width:600px;
  }
  .B4T_ServicesDiv_mob{
    top: 45px;
    box-shadow: 0px 0px 3px 0px #eee;
    /*margin-left: 50px;*/
    margin-bottom: 20px;
    min-height: 181px;
  }
  .B5T_img{
  	/*width: 185px;*/
    padding: 11px;
    padding-top: 40px;
  }
  .B5T_txt{
    font-size: 17px;
  	font-weight: 600;
    margin-left: 15px;
  }
  .contentheaderH2{
    font-family: sans-serif ! important;
  }
  .innerServiceDiv{
    padding-top: 30px;
  	/*padding-left: 45px;*/
  }
  .B2T_serviceTitle{
	/*top: 53px;
    left: 563px;
    position: absolute;*/
    color: #009de2;
    font-size: 35px;
    font-weight: 600;
    margin-top: 55px;
}

.Expertise_maindiv{
  /*margin-left: 60px;*/
}
.B2T_serviceTitleNew{
 background-color: #333 ! important;
}
.services_block{
  margin-top: 30px;
  margin-bottom: 20px;
}
.B2T1_line1{
  margin-left: 484px ! important;
  background-color: #f08f00;
  width: 80px;
  height: 4px;
  top: 36px;
  /*z-index: 999;*/
}
@media(max-width : 600px){
.BT4_imgBack{
    margin-left: 102px;
}
.BT4_txt{
    text-align: center;
    margin-left: 0px;
}
.BT3_subhead{
    margin-left: -11px;
}
.B2T_serviceTitle{
    margin-left: 41px ! important;
    font-size: 27px ! important;
}
.B2T1_line1{
  margin-left: 145px ! important;
}
.B4T_ServicesDiv{
  width: 240px ! important;
}

}
@media(max-width : 768px){
  .B2T1_line1{
    margin-left: 356px ! important;

  }
  .B5T_img{
   /* width: 218px;
    height: 165px;
    padding: 11px;
    padding-top: 80px;*/
  }
  .B4T_ServicesDiv{
    margin-left: 55px ! important;
    min-height: 200px ! important;
  }
}
@media(max-width : 767px){
  .B2T1_line1{
    margin-left: 119px ! important;

  }
}

@media (max-width: 480px){
  .B4T_ServicesDiv{
    margin-left: 20px ! important;
    width: 304px ! important;
    min-height: 125px ! important;
  }
  .innerServiceDiv{
    padding-left: 0px ! important;
  }
  .featuretext{
    font-size: 14px ! important;
  }
  .featuretitle{
    font-size: 15px ! important;
  }
  .iconclass{
    width: 25px ! important;
    margin-top: 15px ! important;
  }
  .adjustfor5{
    margin-left: 9px ! important;
  }
  .new_wizardNotefor4 {
    left: 18px ! important;
    font-size: 10px ! important;
    left:-9px! important;
}
.new_wizardNote{
  font-size: 10px ! important;
}
.new_round-tabfor4 {
    margin-left: 27% ! important;
}
.BT1_bannerTitle{
  font-size: 33px ! important;
}
.B4T_line{
  left: 151px ! important;
 }
 .NopaddingMob{
  padding-left: 10px ! important;
 }
}

@media screen and (min-width: 1900px) {
  .Expertise_maindiv{
    margin-left: 40px;
  }
  .B4T_ServicesDiv{
    width: 800px;
  }
}

@media only screen 
    and (device-width : 320px) 
    and (device-height : 533px)  { 
    .B4T_ServicesDiv{
        margin-left: 0px ! important;
        width: 270px ! important;
        }
    }    

@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 
     .B4T_ServicesDiv {
      margin-left: 13px ! important;
      width: 304px ! important;
      min-height: 228px ! important;
    }
 }

@media only screen and (device-width : 375px) and (device-height : 667px) { 
    .B4T_ServicesDiv {
        margin-left: 10px ! important;
      }
  }  
@media only screen and (device-width : 414px) and (device-height : 736px) { 
    .B4T_ServicesDiv {
        margin-left: 30px ! important;
      }
  } 

@media only screen and (device-width : 320px) and (device-height : 568px) { 
    .B4T_ServicesDiv {
       width : 268px ! important;
       height: 250px ! important;
       margin-left: 0px ! important;
      }
  }   
 @media only screen and (device-width : 411px) and (device-height : 731px) { 
    .B4T_ServicesDiv {
       /*width : 268px ! important;*/
       margin-left: 25px ! important;
      }
  }     
@media only screen and (device-width : 360px) and (device-height : 640px) { 
    .B4T_ServicesDiv {
       /*width : 268px ! important;*/
       margin-left: 0px ! important;
      }
  } 
  @media only screen and (device-width : 1440px) and (device-height : 900px) { 
    .B4T_ServicesDiv {
       /*width : 268px ! important;*/
       margin-left: 80px ! important;
      }
  } 
  @media only screen and (device-width : 600px) and (device-height : 960px) { 
    .B4T_ServicesDiv {
      width: auto ! important;
      margin-left: 0px ! important;
       /*width : 268px ! important;*/
       /*margin-left: 80px ! important;*/
      }
      .new_round-tabforTwo{
        margin-left: 43% ! important;
      }
      .new_wizardNotefortwo{
        right: 0px ! important;
      }
  } 
  @media only screen and (device-width : 480px) and (device-height : 854px) { 
    .B4T_ServicesDiv {
      width: 395px ! important;
    }

  }
@media only screen and (device-width : 393px) and (device-height : 851px) { 
    .resfooterend {
      height: 71px ! important;
      
      }
    .new_round-tabfor6{
      margin-left: 26% ! important;
    }  
    .new_wizardNote_for6{
      right: -2px ! important;
    }
    .new_round-tabfor5{
      margin-left: 25% ! important;
    }
    .new_wizardNotefor5{
      right: 2px ! important;
    }
    .B4T_ServicesDiv{
      height: 230px ! important;
    }
    .ServiceTxt p{
      letter-spacing: 0.3px ! important;
    }
  }
  @media only screen and (device-width: 1024px) and (device-height: 768px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
   
     .B4T_ServicesDiv{
      margin-left: 50px ! important;
      height: 225px ! important;
     }

  } 
  @media only screen and (device-width: 1536px) and (device-height: 2048px) and (orientation: portrait){
    .B4T_ServicesDiv{
      margin-left: 85px ! important;
    }
  }
   @media only screen  and (device-width: 2048px) and (device-height: 1536px) and (orientation: landscape){
    .B4T_ServicesDiv{
      margin-left: 110px ! important;
      width: 830px ! important;
    }
  } 
   @media only screen and (device-width: 2560px) and (device-height: 1600px) 
  {
    .B4T_ServicesDiv {
        width: 950px;
        margin-left: 170px ! important;
    }
  } 
 @media only screen and (device-width : 1680px) and (device-height : 1050px) { 
  .B4T_ServicesDiv{
    margin-left: 89px ! important;
    width: 670px ! important;
  }
 } 
 @media only screen and (device-width : 1680px){ 
  .B4T_ServicesDiv{
    margin-left: 89px ! important;
    width: 670px ! important;
  }
 } 
 @media only screen and (device-width : 1920px) { 
  .B4T_ServicesDiv{
    margin-left: 89px ! important;
    /*width: 670px ! important;*/
  }
 } 
 @media only screen and (device-width : 1856px) { 
  .B4T_ServicesDiv{
    margin-left: 89px ! important;
    width: 750px ! important;
    /*width: 670px ! important;*/
  }
 } 
 @media only screen and (device-width : 1792px) { 
  .B4T_ServicesDiv{
    margin-left: 89px ! important;
    width: 750px ! important;
    /*width: 670px ! important;*/
  }
 } 
 
@media only screen and (device-width : 1600px) { 
  .B4T_ServicesDiv{
    margin-left: 89px ! important;
    width: 750px ! important;
    /*width: 670px ! important;*/
  }
 } 
 @media only screen and (min-device-width : 3200px) { 
  .B4T_ServicesDiv{
    margin-left: 100px ! important;
    width: 870px ! important;
    /*width: 670px ! important;*/
  }
  .Expertise_maindiv{
    margin-left: 0px ! important;
  }
 } 
 
