 .innerBlock5tepmlate{
 	height: auto;
 }
 .B4T_ServicesDiv{
    top: 45px;
    box-shadow: 0px 0px 5px 0px #b7b3b3;
    margin-left: 53px;
    margin-bottom: 40px;
    min-height: 193px;
    width:560px;
  }
  .B4T_ServicesDiv_mob{
    top: 45px;
    box-shadow: 0px 0px 3px 0px #eee;
    /*margin-left: 50px;*/
    margin-bottom: 20px;
    min-height: 181px;
  }
  .B5T_img{
  	/*width: 185px;*/
    padding: 11px;
    padding-top: 34px;
  }
  .B5T_txt{
    font-size: 17px;
  	font-weight: 600;
    margin-left: 15px;
  }
  .innerServiceDiv{
    padding-top: 25px;
  	/*padding-left: 45px;*/
  }
  .B2T_serviceTitle{
	/*top: 53px;
    left: 563px;
    position: absolute;*/
    color: #009de2;
    font-size: 35px;
    font-weight: 600;
    margin-top: 55px;
}
.B2T_serviceTitleNew{
 background-color: #333 ! important;
}
.services_block{
  margin-top: 30px;
  margin-bottom: 20px;
}
.B2T1_line1{
  margin-left: 484px ! important;
  background-color: #f08f00;
  width: 80px;
  height: 4px;
  top: 36px;
  /*z-index: 999;*/
}
@media(max-width : 600px){
.BT4_imgBack{
    margin-left: 102px;
}
.BT4_txt{
    text-align: center;
    margin-left: 0px;
}
.BT3_subhead{
    margin-left: -11px;
}
.B2T_serviceTitle{
    margin-left: 41px ! important;
    font-size: 27px ! important;
}
.B2T1_line1{
  margin-left: 145px ! important;
}

}
@media(max-width : 768px){
  .B2T1_line1{
    margin-left: 356px ! important;

  }
}
@media(max-width : 767px){
  .B2T1_line1{
    margin-left: 119px ! important;

  }
}

@media (max-width: 480px){
  .B4T_ServicesDiv{
    margin-left: 22px ! important;
    width: 304px ! important;
    min-height: 125px ! important;
  }
  .innerServiceDiv{
    padding-left: 0px ! important;
  }
  .adjustfor5{
    margin-left: 9px ! important;
  }
  .new_wizardNotefor4 {
    left: 18px ! important;
    font-size: 10px ! important;
    left:-9px! important;
}
.new_wizardNote{
  font-size: 10px ! important;
}
.new_round-tabfor4 {
    margin-left: 27% ! important;
}
.BT1_bannerTitle{
  font-size: 33px ! important;
}
.B4T_line{
  left: 151px ! important;
}
}