.paraaa-top{
    margin-bottom: -1px;
    font-size: 50px;
    font-weight: 700;
    margin-top: 32px;
    margin-bottom: 30px;
}
.newparaaa-top{
    
    margin-top: 85px;
}


.line_paraaaa{
    line-height: 30px;
    font-size: 17px;
}
.line_subheadd{
    /*font-weight: 600;*/
    font-size: 33px;
    color: #3a3737;
    font-weight: bold;
  }

.bluetext {
    color: #1378d4;
}

.line_overview {
    background-color: #f19000;
    width: 105px;
    margin-top: 32px;
    margin-bottom: 41px;
    height: 4px;
    /* margin-left: 500px; */
    text-align: center;
}