.lightbluetext {
    color: #009de2;
}
.onselecthover{
  height: auto;
  padding-top: 5%;
  

}
.line3{
	background-color: #f08f00;
    width: 90px;
    height: 4px;
    margin-top: 40px;
    margin-left: 32px;
}
.TypeBTnP{
  font-size: 17px ! important;
}
.righttextaboutus{
	margin-top: 25px;
	font-size: 17px ! important;
}
.industries_imgDiv{
  margin-top: 75px;
}
/*.onselecthover:hover{
  cursor: pointer;
  border: 1px solid #aaa;
  box-shadow: 0px 0px 19px 4px #999;
  

}*/
@media screen and (max-width: 600px) {
  
  .line3 {
    background-color: #f08f00;
    width: 90px;
    height: 4px;
    margin-top: 70px;
    margin-left: 32px;
   }
   .serflip-card{
    width:340px ! important;
    margin-left: 30px ! important;
   }
  .serflip-card-inner{
    margin-left: 30px;
  } 

}
@media screen and (max-width: 425px) {
  
 
   .serflip-card{
    width:340px ! important;
    margin-left: 30px ! important;
   }
  .serflip-card-inner{
    margin-left: 30px;
  } 

}