.lightbluetext {
    color: #009de2;
}
.onselecthover{
  height: auto;
  padding-top: 10px;
  

}
.Type2Img{

  width:385px; 
  padding-top:25px;

}
.type1btnDiv{
  height: 465px;
  overflow: hidden;
  padding-top: 25px;
  margin-bottom: 65px;
}
.takebuttonDown{
    padding-top: 100px;
    padding-left: 25px;
}
.line3{
	background-color: #f08f00;
    width: 90px;
    height: 4px;
    margin-top: 40px;
    margin-left: 32px;
}
.TypeBTnP{
  font-size: 17px ! important;
}

.righttextaboutus h2{
  color:#009de2; 

}
.TypeBTnP h2{
  color:#333; 
}
.Typecomponent1_btn{
  margin-bottom: 50px;
}
.TypecomponentBtnImg{
  width: 500px;
  height: 380px;
  padding-top: 50px;
  /*float:right;*/
}
.TypecomponentBtnImg img{
  width: 500px;
  height: 400px;
  object-fit: contain;

  /*height: 100%;*/
  /*width: 100%;*/
}
.TypebtnText{
  margin-left: 30px;
}
.Typecomponent2BtnImg{
  width: 500px;
  height: 450px;
  /*margin-left: 50px;*/

  /*float:left;*/
}
.BtnImageDown{
  margin-top: 20px;
}
.Typecomponent2BtnImg img{

 /*width:400px;
 height:400px;
 object-fit: contain;*/
}
.industries_imgDiv{
  /*margin-top: 75px;*/
}

@media screen and (max-width: 600px) {
  
  .line3 {
    background-color: #f08f00;
    width: 90px;
    height: 4px;
    margin-top: 70px;
    margin-left: 32px;
   }
   .serflip-card{
    width:340px ! important;
    margin-left: 30px ! important;
   }
  .serflip-card-inner{
    margin-left: 30px;
  } 

}
@media screen and (max-width: 425px) {
  
 
   .serflip-card{
    width:340px ! important;
    margin-left: 30px ! important;
   }
  .serflip-card-inner{
    margin-left: 30px;
  } 

}