.rb-para-top{
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
}

.repeated_block1height:hover{
    height: 290px;
    margin-bottom: -5px;
    margin-top: 15px;
    transition-duration: 1.2s;

}

.repeated_block1height{
    top: 15px;
    /*height: 186px;*/
    height: 240px;
    /*width: 286px;*/
    /*width: 260px;*/
    /*margin-left: 44px;*/
}
.RB_block{
    border-radius: 4px;
    box-shadow: 0 10px 29px rgba(92,141,255,.22);
    margin-bottom: 50px;
    margin-top: 58px;
    text-align: center;
}
.RB_block:hover {
    border-radius: 4px;
    box-shadow: 0 10px 29px rgba(92,141,255,.22);
    margin-bottom: 50px;
    padding: 32px 40px 56px;
    background-color: #009de2;
    color: #fff ! important;
    background-image: url(/images/11.png) no-repeat;
    height: 290px;
    top: 12px;
}
.rb-para-top:hover{
    color:#fff ! important;
}
.rbicn_1 {
    margin-top: 65px;
}
.type3text{
    margin-top: 40px;
    font-size: 17px;
}
.Type3component{
    margin-bottom: 50px;
}
.rb-para-top{
    height: 300px;
}
@media screen and (max-width: 600px) {
    .RB_block{
        margin-top: 0px ! important;
    }
    .rbicn_1{
        margin-top: 20px ! important;
    }
    .repeated_block1height{
        height: 170px ! important;
    }
    .rb-para-top{
        font-size: 15px ! important;
    }
    .Type3component{
        margin-bottom: 95px ! important;
    }
  } 

   @media only screen and (device-width : 320px) and (device-height : 568px) { 
    
      .repeated_block1height{
        width: 120px;
      }
      .blk_ht{
        padding-left: 0px;
      }
  } 
