.commonback{
  background-image: url("/images/commonblock.png");
  background-size: 100% 100%;
  height: 370px;
  margin-bottom: 50px;

}

.commonblocktext{
  margin-top: 150px;
}

.commonblocktext h1{
  font-weight: 700;
    font-size: 45px;

}