.controlloop_paraaa-top{
    margin-bottom: -1px;
    font-size: 30px;
    font-weight: 700;
    margin-top: 32px;
}

.controlloop_line_paraaaa{
    line-height: 30px;
    font-size: 19px;
}
.controlloop_line_subheadd{
    /*font-weight: 600;*/
    font-size: 33px;
    color: #3a3737;
    font-weight: bold;
  }

.bluetext {
    color: #1378d4;
}


.controlloop_list{
    font-size: 19px;
    /*color: #7b6f6f;*/
    background-repeat: no-repeat;
    margin-left: 78px;
    padding-bottom: 10px;
  }

.controlloop_sublist{
    margin-left: 90px;
    font-size: 19px;
    line-height: 28px;
    margin-bottom: 10px;
    /*color: #7b6f6f;*/
 }
.controlloop_line_paraaaa1{
     line-height: 30px;
    font-size: 19px;
 }

 .controlloop_line_paraaaa2{
     line-height: 30px;
    font-size: 19px;
 }
 .controlloop_line_paraaaa3{
    line-height: 30px;
    font-size: 19px;
}

 .texxt-yellow{
color: #f19000;
 }
 

 .control_loop_img{
    width: 59%;
    margin-top: 59px;
 }

 .cl_img{
    width: 595px;
    height: 299px;
    margin-left: 243px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin-bottom: 32px;
 }

 .control_loop_img1{
    width: 59%;
    margin-top: 26px;
 }

 .cl_img1{
    width: 745px;
    height: 299px;
    margin-left: 171px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin-bottom: 32px;
}
 
.apc_mb26{
    margin-bottom: 26px;
}

.apc1_mb26{
    margin-bottom: 26px;
}