.challenges_line_paraaaa{
    line-height: 30px;
    font-size: 19px;
    color: #7b6f6f;
}
.challenges_line_paraaaa1{
    line-height: 30px;
    font-size: 19px;
    color: #7b6f6f;
}
.challenges_line_subheadd{
    /*font-weight: 600;*/
    font-size: 33px;
    color: #3a3737;
    font-weight: bold;
  }

 .grey_line{
    width: 86%;
    margin-left: 74px;
    background-color: #808080;
  }

  .challenges_list{
  	font-size: 19px;
    color: #7b6f6f;
    background-repeat: no-repeat;
  }

  .challenges_line_paraaaa2{
    line-height: 30px;
    font-size: 19px;
    color: #7b6f6f;
    margin-left: 15px;
}