 .para-topType{
    margin-top: 71px ! important;
    margin-bottom: 25px;
    font-size: 30px;
    font-weight: 700;
}
.line2{
	background-color: #f08f00;
    width: 90px;
    height: 4px;
    margin-bottom: 25px;
    /*margin-top: 40px;*/
}
.typebtn_img{
	padding-top: 10px;
}
.righttextaboutus{
    font-size: 17px;
    text-align: justify;
}
.Type2_btn{
    background-color: #eee;
    height: 450px;
}
.type2btnimg{
    margin-top: 33px;
}
.takebuttonDown2{
    padding-top: 75px;
    padding-right: 65px;
}
.Type2ImgDiv{
    height: 572px;
    width: 572px;

}
.righttextaboutus h2{
    color:#333 ! important;
}
.hrpadding{
    padding-left: 0px;
}
.Typecomp2Btn_img{
    padding-left: 71px;
    padding-top: 55px;
}
.Textrighgtblock{
    height: 500px;
}
@media screen and (max-width: 768px) {
    .TypebtnText{
        margin-left: 0px ! important;
    }
     .Typecomp2Btn_img{
      padding-left: 0px ! important;
     }
    .Textrighgtblock{
      height: 600px ! important;

    }
    /*.type1btnDiv{
        height: 500px ! important;
    }*/
}

@media screen and (max-width: 600px) {
     .Textrighgtblock{
      height: 530px ! important;

    }
    .marginTopMobile{
        margin-bottom: 35px ! important;
    }
    .type1btnDiv{
        height: 500px ! important;
    }

}
