.chrome_BT4_txt.innerBlocktepmlate3{
 height: auto;
}
.BT3_dataDiv{
	top:25px;
	width: 317px;
	/*margin-left: 82px;*/
	margin-bottom: 20px;

}
.BT3_innerBlock{
	height: auto;
}
.BT3_text{
	padding-top:20px;
	font-size: 17px;

}
.BT3_text_new{
  padding-top:40px;
  font-size: 17px;

}
.headingPadding{
  padding-top: 10px;
  margin-top: 20px;
}

.BT3_subhead{
  margin-top: 20px;
	font-weight: 600;
	margin-left: 40px;
}
.BT3_img1{
    margin-top: 9px;
    margin-left: 9px
}
.iconCircle {
    height: 80px;
    position: absolute;
    width: 80px;
    margin-left: 35%;
    top: -34px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 3px 2px #9b8f8f;
}
.endofsubblock{
  border-bottom: 5px solid #1e53e8;
  height: 140px;
}
.iconCircle img{
  margin-top: 20px;
  margin-left: 20px;
}
.FirstPart{
  height: 70px;
  background-color: #eeeeeed4;
}
.BT4_txt {
    margin-top: 10px;
    /*margin-left: 71px;*/
    font-size: 15px;
    height: auto;
    font-size: 15px;
    /* white-space: nowrap; */
    overflow: hidden !important;
    text-overflow: ellipsis;
}
.New_Study_shadow{
      box-shadow: 2px 2px 8px 3px #dad6d6;
      padding: 0px;
}
@media only screen and (device-width : 375px) and (device-height : 667px) { 
    .New_Study_shadow {
        width: 235px ! important;
    }
     
  } 
.BT4_imgBack{

    height: 60px;
    width: 60px;
    background-color: #ffffff;
    box-shadow: 0px 0px 3px 1px;
}
@media screen and (max-width: 992px) {
  .BT4_imgBack {
    /*opacity:0;*/
  }
}
.Main_Cards__Bubble1:first-child {
    top: 270px;
    left: -75px;
}
.Main_Cards__Bubble1:first-child {
    width: 200px;
    height: 200px;
    content: "";
}
.Main_Cards__Bubble1 {
    pointer-events: none;
    transition: -webkit-transform 20s ease-in;
    transition: transform 20s ease-in;
    transition: transform 20s ease-in,-webkit-transform 20s ease-in;
}
.Main_Cards__Bubble1, .Main_Cards__Wrapper1:after {
    position: absolute;
    background-color: #eeeeee4d;
    border-radius: 50%;
}
.Main_Cards__Bubble1:nth-child(2) {
    right: 0px;
    bottom: 0px;
    width: 600px;
    height: 600px;
}
/*.Main_Cards__Bubble {
    pointer-events: none;
    transition: -webkit-transform 20s ease-in;
    transition: transform 20s ease-in;
    transition: transform 20s ease-in,-webkit-transform 20s ease-in;
}
.Main_Cards__Bubble, .Main_Cards__Wrapper:after {
    position: absolute;
    background-color: rgba(105,92,255,.05);
    border-radius: 50%;
}*/
.havh{
  
}
@media (max-width: 480px){

  .BT3_text ul{
    padding-left: 12px ! important;
  }
}



@keyframes bubblea1 {
  
  0% {
    left:0px ;top :0px; transform: scale(1) ; 
  }
  20% {
   left:150px ;top :100px; transform: scaleY(0.99) scaleX(1.10);
  }
  48% {
    
    left:250px ;top :200px; transform: scaleY(1.1) scaleX(0.9);
  }
  68% {
    
    left:500px ;top :350px; transform-origin: 350px -50px; transform: scaleY(0.98) scaleX(1.02);
  }
  80% {
    transform: scaleY(1.10) scaleX(0.99);
  }
  97%, 100% {
    left:900px; top :700px; transform: scale(1);
  }
}
@keyframes bubblea2 {
  
  0% {
    right:0px ;top :0px; transform: scale(1) ; 
  }
  20% {
    transform: scaleY(0.90) scaleX(1.10);
  }
  48% {
    
     transform: scaleY(1.1) scaleX(0.9);
  }
  68% {
    
    transform: scaleY(0.99) scaleX(1.10);
  }
  80% {
    transform: scaleY(1.10) scaleX(0.99);
  }
  97%, 100% {
     right:-900px ;top :-500px;  transform: scale(1);
  }
}
@keyframes bubblea3 {
  
  0% {
       
   bottom: 0px;  left: 500px; transform: scale(1) ; 
  }
  20% {
    transform: scaleY(0.95) scaleX(1.05);
  }
  48% {
    
     transform: scaleY(1.1) scaleX(0.9);
  }
  68% {
    
    transform-origin: 550px -50px; transform: scaleY(0.98) scaleX(1.02);
  }
  80% {
    transform: scaleY(1.02) scaleX(0.98);
  }
  97%, 100% {
   bottom:1050px; left:100px;    transform: scale(1);
  }
}
.bub11{
    animation:  bubblea1 30s linear infinite;


}

.bub21{
    animation: bubblea3 30s linear infinite;
}
.servivesblockIog{
  margin-top: 70px;
}
.services_title{
  color: #333 ! important;
  font-size: 30px;
  letter-spacing: 0.5px;
}

::i-block-chrome, .services_title {
     border:1px solid #f00;
}

.safari_BT4_txt{
  height:160px;
}

.chrome_BT4_txt_title{
  letter-spacing: 0.5px;
}
.chrome_BT4_txt{
  height:160px;
}
@media only screen and (device-width : 320px) and (device-height : 568px) { 
  .New_Study_shadow{
    width:210px ! important;
  }
  .new_BT3_innerBlock{

    width: 320px ! important;
  }
  .maindivWidth_mob{
    width: 310px  ! important;
  }
 } 

 .services_title_safari{
  font-family: sans-serif ! important;
  color: #333 ! important;
 }
@media only screen and (device-width : 360px) and (device-height : 640px) { 

   .padding_5E{
    padding-left: 0px ! important;
   }
}
@media only screen and (device-width : 320px) and (device-height : 533px) { 

   .padding_Mob{
    padding-left: 0px ! important;
   }
   .padding_MobNokia{
    padding-left: 0px ! important;
   }
} 

