.services_img{
  width: 100%;
  object-fit: contain;
  /*height: 580px;*/
}
.img1 img{

	width: 100%;
}
.services_img img{
		width: 100%;
	 }
@media only screen and (device-width : 375px) and (device-height : 667px) {
	.services_img{
	     width: 100% ! important ;
	    object-fit: contain! important;
	    height: 362px ! important;
	    padding: 0px ! important;
	}
	.img1 img{
		height: 375px ! important;
        /*object-fit: contain;*/
	 }

}
@media only screen and (device-width : 400px)and (device-height : 640px){
	.img1 img{
		height: 300px ! important;

	}

}	
@media only screen and (device-width : 412px) and (device-height : 732px) {
	.img1 img{
		height: 300px ! important;

	}

} 
@media only screen and (device-width : 412px){
	.img1 img{
		height: 300px ! important;

	}

} 
@media only screen and (device-width : 393px) and (device-height : 851px) {
	.services_img{
	     width: 100% ! important ;
	    object-fit: contain! important;
	    height: 362px ! important;
	    padding: 0px ! important;
	}
	.img1 img{
		height: 375px ! important;
        /*object-fit: contain;*/
	 }

}	 
@media only screen and (device-width : 360px) and (device-height : 640px) {
	.services_img{
	     width: 100% ! important ;
	    object-fit: contain! important;
	    height: 362px ! important;
	    padding: 0px ! important;
	}
	.img1 img{
		height: 375px ! important;
        /*object-fit: contain;*/
	 }

}	
@media only screen and (device-width : 401px)and (device-height : 600px){
	.img1 img{
		height: 300px ! important;

	}

}
@media only screen and (device-width : 400px)and (device-height : 700px){
	.img1 img{
		height: 300px ! important;

	}

}
@media only screen and (device-width : 401px){
	.img1 img{
		height: 300px ! important;

	}

}
@media only screen and (device-width : 411px) and (device-height : 731px) {
	.services_img{
	     width: 100% ! important ;
	    object-fit: contain! important;
	    height: 362px ! important;
	    padding: 0px ! important;
	}
	.img1 img{
		height: 375px ! important;
        /*object-fit: contain;*/
	 }

}	
@media only screen and (device-width : 411px) and (device-height : 823px) {
	.services_img{
	     width: 100% ! important ;
	    object-fit: contain! important;
	    height: 362px ! important;
	    padding: 0px ! important;
	}
	.img1 img{
		height: 375px ! important;
        /*object-fit: contain;*/
	 }

}	 
@media only screen and (device-width : 320px) and (device-height : 568px) {
	.services_img{
	     width: 100% ! important ;
	    object-fit: contain! important;
	    height: 362px ! important;
	    padding: 0px ! important;
	}
	.img1 img{
		height: 375px ! important;
        /*object-fit: contain;*/
	 }

}	
@media only screen and (device-width : 414px) and (device-height : 736px) {
	.services_img{
	     width: 100% ! important ;
	    object-fit: contain! important;
	    height: 362px ! important;
	    padding: 0px ! important;
	}
	.img1 img{
		height: 375px ! important;
        /*object-fit: contain;*/
	 }

}
@media only screen and (device-width : 375px) and (device-height : 812px) {
	.services_img{
	     width: 100% ! important ;
	    object-fit: contain! important;
	    height: 362px ! important;
	    padding: 0px ! important;
	}
	.img1 img{
		height: 375px ! important;
        /*object-fit: contain;*/
	 }

}	 





@media (max-width: 480px){
	
	.commonBlockpadd{
		padding-left: 10px ! important;
		padding-right: 10px ! important;
	}
	/*.overviewPadding{
		padding-right: 20px! important;
		padding-right: 20px ! important;
	}*/
	.BT3_text ul{
		padding-left: 12px ! important;
	}
}
.line_para ul{
	padding-left: 15px;
}
.commonBlockpadd{
	padding-left: 70px;
	padding-right: 70px;
}
@media screen and (max-width: 600px) {
	.services_img img{
		height: 375px ! important;
		object-fit: contain;
	}
}
@media only screen 
  and (device-width: 1440px) 
  and (device-height: 900px) 

  /*and (orientation: landscape) */
 { 
  .img1 img{
    width: 100%;
  }
 }	

 @media only screen and (device-width : 2560px) and (device-height : 1600px) {
 	.commonBlockpadd{
		padding-left: 250px ! important; 
 	 }
 	.newcard_HD {
	    width: 376px ! important;
	    margin-left: 95px ! important; 
	   } 

 }

