.banner-wrapper{
	margin-top: 0px;
  margin-bottom: 18px;
    overflow: hidden;
}
.full-height {
  height: 100%;
  }
.banner{
	
	
    /*position: relative;*/
    /*z-index: 1;*/
    /*overflow: hidden;*/
    /*background-image: linear-gradient(44deg,#8232ec,#695cff);*/
    /*background: #333;*/
    /*background-size: 100% 75%;*/
    /*color: #fff;*/
    /*height: 500px;*/
}.bannerContainer1{
  opacity: 1;
  /*height: 500px;*/
  background-size: 100% 100% ;
    width: 100%;
  /*  margin-right: auto;*/
    height: 43em;
  /*  margin-left: auto;*/
    /*float: left;*/
    background-image: url(/images/newbanner_1.png);

}
.bannerContainer {
    /* max-width: 930px; */
    /* position: relative; */
    background-size: 100% 100% ;
    width: 100%;
  /*  margin-right: auto;*/
    height: 48em;
  /*  margin-left: auto;*/
    /*float: left;*/
    background-image: url(/images/banner.png);
    /*padding-top: 10em;*/
    /*padding-bottom: 158px;*/
    /*margin-top: -60px;*/
}
.resbannerimg{
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("/images/newbanner_1.png");
}
.lead {
    font-size: 18px;
    line-height: 28px;
}
.title-h1{
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 16px;
    font-weight: 500;
    letter-spacing: -.4px;
}
.Home_Buttons {
    margin-top: 40px;
}
.Home_BlueButton {
    margin-right: 20px;
}
.btn--fill {
	border-radius: 28px;
    background-color: #37cd8f;
    color: #fff;
}
.btn--shadow-blue {
    box-shadow: 0 10px 25px 0 rgba(65,54,181,.45);
}
.btn-style{
	display: inline-block;
    border: 2px solid transparent;
    border-radius: 28px;
    cursor: pointer;
    font: inherit;
    font-weight: 500;
    line-height: 44px;
    outline: none;
    text-align: center;
    text-decoration: none;
    padding: 0 30px;
    transition: background-color .2s,color .2s,box-shadow .2s;
}
.btn-style:hover{
	color: #fff !important;
}
.btn-style:focus{
	color: #fff !important;
}
.btn--stroke-white {
	background: transparent;
    border-color: #fff;
    color: #fff;
}

.banner-wrapper:before {
    left: -50px;
    -webkit-animation: swell 7s ease -1.25s infinite;
    animation: swell 7s ease -1.25s infinite;
    opacity: .3;
}

.banner-wrapper:after {
    left: 50px;
    -webkit-animation: swell 7s cubic-bezier(.36,.45,.63,.53) infinite;
    animation: swell 7s cubic-bezier(.36,.45,.63,.53) infinite;
    opacity: .1;
}
@keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -5px, 0);
  }
  50% {
    transform: translate3d(0, 15px, 0);
  }
}

.banner-wrapper:after, .banner-wrapper:before {
    /*position: absolute;*/
    z-index: 0;
    bottom: -5px;
    left: 0;
    /*width: 100%;*/
    /*height: 100%;*/
    background-color: #eee;
    /*border-radius: 0 0 50% 50%;*/
    content: "";
}

.cloud1{
    position: absolute;
    left: -250px;
    animation:  cloud1 70s linear  infinite;
    z-index: 100;
    top: 3px;

}
.cloud1 img{
height: 170px;
}
.cloud2 img{
height: 140px;
}
.cloud3 img{
height: 120px;
}
.cloud4 img{
height: 150px;
}
.car{
    position: absolute;
    right: 5em;
    top: 42em;
    animation:  car 10s linear  infinite;
}
.car img{
}
.contanim{
    position: absolute;
    right: 5em;
    top: 26em;
    animation:  contanim 10s linear  infinite;
}
.contanim img{
}
.wheel1{
  position: absolute;
  right: 22px;
  top: 21px;
  animation:  wheel 0.4s linear  infinite;
}
.wheel2{
  position: absolute;
  right: 89px;
  top: 21px;
  animation:  wheel 0.4s linear  infinite;
}
.truckanim1{
    position: relative;
    left: 721px;
    top: 331px;
    overflow: hidden;
    /*background-color: red;*/
    height: 57px;
    width: 240px;
}
.truckanim{
    position: absolute;
    right: 0px;
    top: 0px;
    animation:  truckanim 10s linear  infinite;
}
.truckanim img{
  margin-right:127px;


}


.truckanim2{
    position: relative;
    left: 959px;
    top: 387px;
    overflow: hidden;
    /* background-color: red; */
    height: 57px;
    width: 418px;
    z-index: 2;
}
.truckanimtion{
    position: absolute;
    right: 0px;
    top: 0px;
    animation:  truckanimtion 10s linear  infinite;
}
.truckanimtion img{
  margin-right:645px;


}

.twheel4{
  position: absolute;
  right: 18px;
  top: 34px;
  animation:  wheel 0.4s linear  infinite;
}
.twheel5{
  position: absolute;
  right: 72px;
  top: 34px;
  animation:  wheel 0.4s linear  infinite;
}
.twheel6{
  position: absolute;
  right: 91px;
  top: 34px;
  animation:  wheel 0.4s linear  infinite;
}

.truckfront{
  position: absolute;
   right: 325px;
    top: 351px;
    overflow: hidden;
    /*background-color: red;*/
    z-index: 1;
    height: 123px;
}
.truckfront img{
  margin-top:0px;
  animation: truckfront 10s 7s linear  infinite;
  opacity: 0;
}
.twheel1{
  position: absolute;
  right: 18px;
  top: 34px;
  animation:  wheel 0.4s linear  infinite;
}
.twheel2{
  position: absolute;
  right: 72px;
  top: 34px;
  animation:  wheel 0.4s linear  infinite;
}
.twheel3{
  position: absolute;
  right: 91px;
  top: 34px;
  animation:  wheel 0.4s linear  infinite;
}
.cloud2{
    position: absolute;
    left: -330px;
    /*top: 0px;*/
    animation:  cloud2 110s linear  infinite;
    z-index: 101;
    top: 3px;
}
.cloud3{
    position: absolute;
    left: -750px;
    animation:  cloud3 140s linear  infinite;
    z-index: 102;
    top: 3px;
}
.cloud4{
    position: absolute;
    left: -950px;
    width: 100px;
    animation:  cloud4 165s linear  infinite;
    z-index: 103;
    top: 3px;

}
.bannersun{
    position: absolute;
    left: 419px;
    z-index: 10;
    bottom: 0px;
    right: 20px;
    top: 120px;
}
.tree1{
    position: absolute;
    right: 269px;
    top: 367px;
    z-index: 10;
}
.tree2{
    position: absolute;
    right: 101px;
    top: 375px;
    z-index: 10;
}
.tree3{
    position: absolute;
    right: 208px;
    top: 587px;
    z-index: 10;
}
.tree4{
    position: absolute;
    right: 0px;
    top: 421px;
    z-index: 10;
}
.bannersun img{
height: 90px;
}

.tank{
    position: absolute;
    left: 49em;
    top: 36em;
    z-index: 11;
}

.boat{
    position: absolute;
    left: -250px;
    top: 300px;
    animation:  boat 101s linear  infinite;

}
.up{
    position: absolute;
    left: 64px;
    top: 300px;

}
.up img{
  height: 160px;
}
.up1{
    position: absolute;
    left: 62.5px;
    top: 345px;
    overflow: hidden;

}
.up1 img{
  margin-top: -10px;
  animation:  up1 2s linear  infinite;

}
.animnewimg{
  top: 38.5em;
  left: 8em;
  position: absolute;
}
.animnewimg img{
  animation:  anim 8s linear  infinite;

}
.anim{
    position: absolute;
    left: 109px;
    top: 377px;
}
.anim img{
  animation:  anim 8s linear  infinite;

}
.oilsign{
    position: absolute;
    left: 163px;
    top: 405px;
    z-index: 1;
    animation:   8s linear  infinite;

}
.oilsign2{
    position: absolute;
    left: 31.7em;
    top: 32em;
    animation:   8s linear  infinite;
}
.oilsign3{
    position: absolute;
    left: 11.6em;
    top: 39.4em;
    animation: 8s linear infinite;
}
.oilsign4{
    position: absolute;
    right: 37em;
    top: 34.5em;
    animation:   8s linear  infinite;
}
.oilsign5{
    position: absolute;
    left: 9.6em;
    top: 20.3em;
    animation:   8s linear  infinite;
}
.oilsign6{
    position: absolute;
    right: 16em;
    top: 35em;
    animation:   8s linear  infinite;
}
.oilsign7{
    position: absolute;
    right: 16.5em;
    top: 15em;
    animation:  8s linear  infinite;
}
.oilsign8 {
    position: absolute;
    right: 40.9em;
    top: 16.7em;
    animation:  8s linear infinite;
    /*z-index: 1;*/
}
.oilsign8 img:hover .dataonHover1 {
      display: block !important;
      cursor: pointer;
}
.oilsign8 img:hover .triangle-down1  {
  display: block ! important;
  cursor: pointer;
}
.oilsign8 img:hover .triangle-down211  {
  display: block ! important;
  cursor: pointer;
}
.other{
    position: absolute;
    left: 720px;
    top: 94px;
}


@keyframes truckfront {
  
  0% {
    margin-top:-20px ;
    opacity: 1;
  }
  100% {
   margin-top:120px ;
    opacity: 1;
  }
  
}
@keyframes up1 {
  
  0% {
    margin-top:-10px ;
  }
  50% {
   margin-top:0px ;
  }
  
}
@keyframes car {
  
  0% {
    right: 260px
  }
  100% {
  right: -150px;
  }
  
}
@keyframes contanim {
  
  0% {
    right: 189px
  }
  100% {
  right: -250px;
  }
  
}
@keyframes truckanim {
  
  0% {
    margin-right:127px;
  }
  100% {
    margin-right: -243px;
    opacity: 1;
    
  }
  
}@keyframes truckanimtion {
  
  0% {
    margin-right:645px;
  }
  100% {
    margin-right: -793px;
  }
  
}
@keyframes anim {
  
  0% {
  transform: rotate(0deg);
  }
  50% {
  transform: rotate(8deg);
  }
  
}
@keyframes oilsign {
  
  0% {
  transform: rotateY(0deg);
  }
  50% {
  transform: rotateY(360deg);
  }
  
}

@keyframes wheel {
  
  0% {
  transform: rotate(0deg);
  }
  100% {
  transform: rotate(360deg);
  }
  
}
@keyframes cloud1 {
  
  0% {
    left:-250px ;
  }
  100% {
   left:1500px ;
  }
  
}
@keyframes cloud2 {
  
  0% {
    left:-330px ;
  }
  100% {
   left:1500px ;
  }
  
}
@keyframes cloud3 {
  
  0% {
    left:-750px ;
  }
  100% {
   left:1500px ;
  }
  
}
@keyframes cloud4 {
  
  0% {
    left:-950px ;
  }
  100% {
   left:1500px ;
  }
  
}
@keyframes boat {
  
  0% {
    left:-250px ;
  }
  50% {
   left:300px ;
  }
  
}



/*.hoveroilsign1:hover .dataonHover1  {
  display: block ! important;
  cursor: pointer;
}*/
/*try*/
.hoveroilsign1:hover{
  cursor: pointer;
}
/*.oilsign9:hover .dataonHover1{
  display: block;
  cursor: pointer;
}*/
.hoveroilsign8{
    /*display: none;*/
    height: 50px;
    position: absolute;
    width: 50px;
    top: 213px;
    left: 709px;
    background-color: #333;
    z-index: 999;
}
.oilsign7:hover .triangle-down1_oil7 {
  display: block;
  cursor: pointer;
}
.oilsign7:hover .dataonHover  {
  display: block;
  cursor: pointer;
}
.dataonHover{
    display: none;
    height: 113px;
    width: 233px;
    border-radius: 5px;
    background-color: #ffffff;
    left: 58.4em;
    top: 11.4em;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 200;
}
.dataonHover1{
  display: none;
  height: 117px;
  width: 241px;
  background-color: #ffffff;
  border-radius: 5px;
  position: absolute;
  left: 44.2em;
  top: 7.2em;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  
}
.dataonHover2 {
    display: none;
    height: 105px;
    width: 233px;
    border-radius: 5px;
    background-color: #ffffff;
    margin-left: -101px;
    margin-top: -147px;
    position: absolute;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  
}
 .triangle-down {
      position: absolute;
      display: none;
      width: 0;
      height: 0;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-top: 15px solid #ffffff;
      margin-top: -43px
    }
.triangle-down1 {
    position: absolute;
     display: none; 
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid rgba(0, 0, 0, 0.1);
    top: 219px;
    left: 721px;
    }
    .triangle-down1_oil7 {
      position: absolute;
     display: none; 
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid rgba(0, 0, 0, 0.1);
    top: 142px;
    left: 73px;
    }
    .triangle-down21 {
      position: absolute;
      display: none;
      width: 0;
      height: 0;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-top: 15px solid #fff;
      margin-top: -17px;
      right: -15px;
    }
    .triangle-down211 {
      position: absolute;
      display: none;
      width: 0;
      height: 0;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-top: 15px solid #fff;
      margin-top: 114px;
    right: 112px;
    left: -14px;
    bottom: 2px;
    }
    .triangle-down211_oil7 {
      position: absolute;
      /*display: none;*/
      width: 0;
      height: 0;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-top: 15px solid #fff;
      margin-top: 114px;
      right: 112px;
    }
    .triangle-down2 {
      position: absolute;
      display: none;
      width: 0;
      height: 0;
      z-index: 1000;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-top: 15px solid rgba(0, 0, 0, 0.1);
      margin-top: -42px
    }
    .triangle-left {
      position: absolute;
      display: none;
      width: 0;
      height: 0;
      border-top: 15px solid transparent;
      border-right: 15px solid #ffffff;
      border-bottom: 15px solid transparent;
      left:31px;
      top:-2px;
    }

.hoveroilsign4:hover .dataonHover  {
      display: block ! important;
      cursor: pointer;
}
.hoveroilsign4:hover .arrow-right  {
  display: block ! important;
  cursor: pointer;
}

.hoveroilsign2:hover .dataonHover2  {
      display: block ! important;
      cursor: pointer;
}
.hoveroilsign2:hover .triangle-down2  {
  display: block ! important;
  cursor: pointer;
}
.hoveroilsign2:hover .triangle-down21  {
  display: block ! important;
  cursor: pointer;
}

.New_hoverdiv{
   /* height: 50px;
    width: 50px;
    background-color: #333;
    position: absolute;
    left: 51em;
    top: 16em;
    z-index: 2;*/

}
.New_hoverdiv:hover .dataonHover2{
  cursor: pointer;
  display: block;
}



.pinhoverdata{
  color: #333;
  font-size: 12px;
  padding: 10px 6px 6px 3px;
}

.Hoverreadmore{
    font-size: 12px;
    color: #009de2;
}
.Hoverreadmore:hover{
  border-bottom: 1px solid #009de2;
}
.movingimg{
  display: none;
}
.movingimg1:hover .movingimg{
 display:block;
}
.result {
    height: 72px;
    width: 100%;
    border: 1px solid #000;
  }
  .result_hover {
    border: 1px solid #fff;
  }
  .resbanner{
    background-image: url("/images/iogbanner.png");
    background-size: 100% 100%;
    height: 250px;
    background-repeat: no-repeat;
  } 
  .arrow-right {
  display: none; 
  width: 0; 
  height: 0; 
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  right: 255px;
  top: 201px;
  position: absolute;
  border-left: 15px solid #ffffff;
} 
.oilimage{
  position: absolute;
  /*left: 968px;*/
  bottom: 0px;
  right: 75px; 
  top: 125px;
  height: 168px;
}
.gasimage{
  position: absolute;
   /*left: 968px;*/
  bottom: 0px;
  right: 410px; 
  top: 95px;
  height: 168px;

}
.nexttogasimage{
   position: absolute;
   /*left: 968px;*/
  bottom: 0px;
  right: 259px;
  top: 187px;
  height: 168px;
  opacity: 0.9;
}
.petrolimage{
  position: absolute;
  bottom: 0px;
  right: 85px;
  top: 286px;
  height: 221px;

}
.petrolimage1{
  position: absolute;
  bottom: 0px;
  right: 669px;
  top: 118px;
  height: 221px;
   /*opacity: 0.7;*/

}
.plantimage1{
  position: absolute;
  bottom: 0px;
  right: 424px;
  top: 267px;
  height: 221px;
  opacity: 0.8;

}
.plantimage11{
  position: absolute;
  bottom: 0px;
  right: 146px;
  top: 395px;
  height: 221px;
  opacity: 0.8;

}
.waterimg{
  position: absolute;
  bottom: 0px;
  left: 49px;
  top: 224px;
  height: 221px;
  opacity:0.7;
}
.boat_img{
  position: absolute;
  bottom: 0px;
  left: 218px;
  top: 267px;
  height: 221px;

}
.boat_img2{
  position: absolute;
  bottom: 0px;
  left: 29px;
  top: 372px;
  height: 221px;
  opacity: 0.7

}
.waterimg2{
  position: absolute;
  top: 77%;
  left: 29%;
  height: 221px;
  opacity: 0.9;

}
.new_HoverDiv {
    display: none;
    height: 217px;
    width: 217px;
    border-radius: 5px;
    background-image: url(/images/newbanner_img14.png);
    margin-left: -40px;
    margin-top: -147px;
    position: absolute;
    background-size: 100% 100%;
    
}.waterimg:hover{
  opacity: 1;
}
.petrolimage1:hover{
  opacity: 1;
}
.waterimg:hover .new_HoverDiv  {
      display: block ! important;
      cursor: pointer;
      opacity: 1;
}
.boat_img2:hover  {
      opacity: 1;
}
.plantimage1:hover  {
      opacity: 1;
}
.nexttogasimage:hover{
  opacity: 1;

}
.waterimg2:hover{
  opacity: 1;

}

.plantimage11:hover  {
      opacity: 1;
}
.new_HoverDiv1 {
    display: none;
    height: 217px;
    width: 217px;
    border-radius: 5px;
    background-image: url(/images/newbanner_img14.png);
    margin-left: 73px;
    margin-top: -94px;
    position: absolute;
    background-size: 100% 100%;
    
}
.new_HoverDiv5 {
    display: none;
    height: 217px;
    width: 217px;
    border-radius: 5px;
    background-image: url(/images/newbanner_img14.png);
    margin-left: 27px;
    margin-top: -156px;
    position: absolute;
    background-size: 100% 100%;
    
}
.new_HoverDiv2 {
    display: none;
    height: 217px;
    width: 229px;
    border-radius: 5px;
    background-image: url(/images/newbanner_img14.png);
    margin-left: 73px;
    margin-top: -78px;
    position: absolute;
    background-size: 100% 100%;
    
}
.new_HoverDiv3 {
    display: none;
    height: 217px;
    width: 217px;
    border-radius: 5px;
    background-image: url(/images/newbanner_img14.png);
    margin-left: 73px;
    margin-top: -105px;
    position: absolute;
    background-size: 100% 100%;
    
}
.new_HoverDiv4 {
    display: none;
    height: 217px;
    width: 217px;
    border-radius: 5px;
    background-image: url(/images/newbanner_img14.png);
    margin-left: 73px;
    margin-top: -143px;
    position: absolute;
    background-size: 100% 100%;
    
}
.new_HoverDiv6 {
    display: none;
    height: 217px;
    width: 217px;
    border-radius: 5px;
    background-image: url(/images/newbanner_img14.png);
    margin-left: -18px;
    margin-top: -152px;
    position: absolute;
    background-size: 100% 100%;
    
}
.boat_img2:hover .new_HoverDiv1  {
      display: block ! important;
      cursor: pointer;
      opacity: 1;
}
.plantimage1:hover .new_HoverDiv3  {
      display: block ! important;
      cursor: pointer;
      opacity: 1;
}
.nexttogasimage:hover .new_HoverDiv5 {
      display: block ! important;
      cursor: pointer;
      opacity: 1;
}
.plantimage11:hover .new_HoverDiv4  {
      display: block ! important;
      cursor: pointer;
      opacity: 1;
}
.petrolimage1:hover .new_HoverDiv2{
   display: block ! important;
   cursor: pointer;
  opacity: 1;

}
.waterimg2:hover .new_HoverDiv6{
   display: block ! important;
   cursor: pointer;
   opacity: 1;

}
.waterimg:hover .bannerContainer1{
  opacity: 0.7;
}
.onhoverimages{
  opacity: 0.7;

}
.onhoverBackgImg{
  opacity: 0.3;
}
.newhovertxt{
  margin-top: 70px;
  margin-left: 53px;
  font-size: 13px;
  padding-left: 10px;
}
.servicekbtnarrow1{
    margin-left: 96px;
    color: #000;
    margin-top: -9px;
    font-size: 13px;
    position: absolute;
}



