.BT3_iogconsult {
    width: 64%;
    margin-top: 46px;
}
.BT3_text1{
	margin-top: 40px;
}
.new_BT3_innerBlock{
	height: auto ! important;
}
.services_title{
  color: #333 ! important;
  font-size: 30px;
}