.navbar-brand>img {
  padding-top: 11px;
  width: 175px;
  /*margin-left: 35px;*/
}
.navbar-brand {
    height: auto;
    margin: 0;
    padding: 0;
    margin-right: 20px;
}
.navbar-default{
  border-color: transparent;
  background: transparent;
}
.navbar-default .navbar-nav > li > a{
  color:#40E0D0;
  font-weight: 600;
  padding: 10px 13px
}
.navbar-default .navbar-nav > li > a {
  padding-bottom: 17px;
}
.navbar-default .navbar-nav > .dropdown > a .caret{
  border-top-color: #fff;
    border-bottom-color: #fff;
}
.navbar-default .navbar-brand{
  color:#000;
}
.menu-large {
  position: static !important;
}
.megamenu{
  padding: 20px 0px;
  width:100%;
}
.megamenu> li > ul {
  padding: 0;
  margin: 0;
}
.megamenu> li > ul > li {
  list-style: none;
}
.megamenu> li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #fff;
  font-weight: 600;
  white-space: normal;
}
.megamenu> li ul > li > a:hover,
.megamenu> li ul > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.megamenu.disabled > a,
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
  color: #999999;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #003bb3;
}
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
  text-decoration: none;
  background-color: #000;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.megamenu.dropdown-header {
  color: #428bca;
  font-size: 18px;
}
@media (max-width: 768px) {
  .megamenu{
    margin-left: 0 ;
    margin-right: 0 ;
  }
  .megamenu> li {
    margin-bottom: 30px;
  }
  .megamenu> li:last-child {
    margin-bottom: 0;
  }
  .megamenu.dropdown-header {
    padding: 3px 15px !important;
  }
  .navbar-nav .open .dropdown-menu .dropdown-header{
  color:#fff;
  }
}

.transparentMenu{
  border-color: transparent;
  background: transparent;
}

.dropDownMenu{
  background: #003bb3;
}

.navPadding{
  padding-top: 10px;
  /*margin-left: 128px;*/
    /*padding-bottom: 10px;*/
    /*height: 250px;*/
}
.dropDownA a:hover{
  color: #fff;
}

.navbar-default .navPadding>li>a:focus, .navbar-default .navPadding>li>a:hover {
    color: #fff;
}

.navbar-default .navPadding>.open>a, .navbar-default .navPadding>.open>a:focus, .navbar-default .navPadding>.open>a:hover{
    color: #fff;
    background-color: #003bb3;
}
/*#aa:focus ~ #bb, #aa:hover ~ #bb{
  background-color: #29246a;
}

#bb{
  background-color: #fdf;
}

#aa:focus + .navbar-default {
  background-color: #29246a;
}*/

/*
.open>a:focus + div[id^="bb"]{
   background-color:orange;
}
*/


.open>a:hover + .navbar-default, .open> a:active + .navbar-default, .open> a:focus + .navbar-default , .open>a:hover ~ .navbar-default, .open> a:active ~ .navbar-default, .open> a:focus ~ .navbar-default {
  background-color: #DCFFFF;
  color:#000066;
}
.fa-angle-down{
  font-weight: 600;
}

.dropdown-header{
  color: #ffc60b;
}

.headerbkimg{
  background-image: url("/images/background.png");
  background-size: 100% 100%;
  /*width: 100%;*/
  height:250px;
}

/*.top_spacing{
  position: absolute;
}
*/
