.headerflow{
    position: fixed;
  z-index: 10000;
  background-color: transparent;
  transition-duration: 0.8s;
}
.headerflowscroll{
  position: fixed;
  z-index: 10000;
  background-color: #fff;
  height: 100px;
  box-shadow: 0 10px 14px rgba(92,141,255,.2);
  transition-duration: 0.8s;
}

#container {
  margin: 0 auto;
  max-width: 890px;
}
/*p { text-align: center; }*/
 .toggle, [id^=drop] {
 display: none;
}
nav {
  margin-top: 37px;
  padding: 0;
  /*background-color: #254441;*/
}

#logo {
  display: block;
  padding: 0 30px;
  float: left;
  font-size: 20px;
  line-height: 60px;
}

nav:after {
  content: "";
  display: table;
  clear: both;
}

nav ul {
  float: left;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

nav ul li {
  margin: 0px;
  display: inline-block;
  float: left;
  background-color: transparent;
  width: auto;
}

nav a {
  display: block;
  padding: 0 13px;
  color: #000;
  font-size: 15px;
  line-height: 35px;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: bold;
}
.headerTitle {
  text-transform: uppercase !important;
}
nav ul li ul li:hover { background: #eee; }

nav a:hover { color: #f08f00;
text-decoration: none; }

nav ul ul {
  display: none;
  position: absolute;
  top: 35px;
  background-color: #fff;
  box-shadow: 0 10px 29px rgba(92,141,255,.5);
  height: 0px;

}

nav ul :hover > ul { display: inherit; }

nav ul ul li {
  width: auto;
  float: none;
  display: list-item;
  position: relative;
  background-color: #fff;
}

nav ul ul ul li {
  width:312px;
  position: relative;
  top: -35px;
  left: 246px;
  background-color: #fff;
}
nav ul ul ul ul li {
  width: 300px;
  position: relative;
  top: -35px;
  left: -300px;/*
  width:360px;
  position: relative;
  top: -35px;
  left: -350px;*/
  z-index: 100;
  background-color: #fff;
}
nav ul ul ul ul ul li {
  width: 270px;
  position: relative;
  top: -35px;
  left: -270px;
  /*width:310px;
  position: relative;
  top: -35px;
  left: -305px;*/
  background-color: #fff;
}

/*li > a:after { content: ' +'; }*/

li > a:only-child:after { content: ''; }


/* Media Queries
--------------------------------------------- */

@media all and (max-width : 768px) {

#logo {
  display: block;
  padding: 0;
  width: 100%;
  text-align: center;
  float: none;
}

nav { margin: 0; }

.toggle + a,
 .menu { display: none; }

.toggle {
  display: block;
  background-color: #254441;
  padding: 0 60px;
  color: #eee;
  font-size: 22px;
  font-weight:bold;
  line-height: 60px;
  text-decoration: none;
  border: none;
}

.toggle:hover { background-color: #000000; }

[id^=drop]:checked + ul { display: block; }

nav ul li {
  display: block;
  width: 100%;
}

nav ul ul .toggle,
 nav ul ul a { padding: 0 40px; }

nav ul ul ul a { padding: 0 80px; }

nav a:hover,
 nav ul ul ul a { background-color: #000000; }

nav ul li ul li .toggle,
 nav ul ul a { background-color: #212121; }

nav ul ul {
  float: none;
  position: static;
  color: #eee;
}

nav ul ul li:hover > ul,
nav ul li:hover > ul { display: none; }

nav ul ul li {
  display: block;
  width: ;
}

nav ul ul ul li { position: static;

}
}

@media all and (max-width : 330px) {

nav ul li {
  display: block;
  width: 94%;
}

}

.headerlogo img{
  margin-top: 15px;
  height: 75px;
}

.zindex{

}
/*#drop-5{
  z-index: 100;
}
#drop-6{
  z-index: 100;
}
#drop-7{
  z-index: 100;
}
#drop-8{
  z-index: 100;
}

#drop-9{
  z-index: 100;
}
#drop-10{
  z-index: 10;
}

*/

dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}
.geoHover:hover~ul>li{
  z-index: 300;
}