.innerBlocktepmlate4{
	height: 500px;
}
.B3T_challengesDiv {
    top: 86px;
    height: 237px;
    width: 272px;
    box-shadow: 3px 6px 4px 2px #eee;
    margin-left: 40px
}
.B4T_img{
	width: 240px;
}
.B4T_txt{
	margin-top: 25px;
}