.innerBlocktConsult{
	height: 1700px;
	/*background-image: url("/images/consultdown.png");*/
	background-size: 100% 100%;
  /*margin-top: 70px;*/
}
.innerBlocktConsult_new{
  /*height: 1700px;*/
  /*background-image: url("/images/consultdown.png");*/
  background-size: 100% 100%;
}

.downimgtext{
    font-size: 30px;
	  position: absolute;
    top: 5em;
    left: 20em;
    color: #009de2;
    font-weight: 600;
}
.downimgtext_new{
   /* position: absolute;
    top: 5em;
    left: 13em;*/
    font-size: 30px;
    color: #009de2;
    font-weight: 600;
}

.downimg_p_txt{
	  position: absolute;
    top: 12.5em;
    left: 13em;
    /*text-align: justify; */
    font-size: 20px;
    padding-right:135px;
}
.downimg_p_txt_new{
    /*position: absolute;
    top: 12.5em;
    left: 9em;*/
    /*text-align: justify; */
    font-size: 20px
}
#consultdown_data0{
   position: absolute;
   top: 26em;
   right: 0%;
   width: 490px;

}
#consultdown_data1{
   position: absolute;
   top: 36em;
   left:-1%;
   width: 490px;
   text-align: right;

}

#consultdown_data4{
	 position: absolute;
    top: 67em;
    right: 0%;
    width: 490px;
    text-align: left;

}
#consultdown_data5{
	position: absolute;
    top: 74em;
    left:-1%;
    width: 490px;
    text-align: right;
}
#consultdown_data6{
	position: absolute;
  top: 83em;
  right: -1%;
  width: 490px;
  text-align: left;
}
#consultdown_data7{
	position: absolute;
  top: 91em;
  left:-2%;
  width: 490px;
  text-align: right;
}
/*responsive*/

#consultdown_data_new0{
   /*position: absolute;
   top: 29em;
   left: 54em;*/
   width: 490px;

}

#consultdown_data2{
    position: absolute;
    top: 44em;
    right: 0%;
    width: 490px;
    text-align: left;

}
#consultdown_data3{
    position: absolute;
    top: 56em;
    left:0%;
    width: 490px;
    text-align: right;

}
@media only screen and (max-width : 768px)
{
 #consultdown_data0{
  right: 4% ! important;
 } 
  #consultdown_data1{
  left: 4% ! important;
 } 
 #consultdown_data2{
  right: 4% ! important;
 } 
  #consultdown_data3{
  left: 4% ! important;
 } 
 #consultdown_data4{
  right: 4% ! important;
 } 
  #consultdown_data5{
  left: 4% ! important;
 } 
 #consultdown_data6{
  right: 4% ! important;
 } 
  #consultdown_data7{
  left: 4% ! important;
 } 
 .downimgtext{
  left:8em ! important;
 }
 .downimg_p_txt{
    top: 10.5em;
    left: 2em;
    padding-right: 0px;
 }
}
#downimg_text0,#downimg_text4,#downimg_text6{
	font-weight: 600;

}
#downimg_p_text0,#downimg_p_text4,#downimg_p_text6{
	font-size: 17px;

}
#downimg_text1,#downimg_text5,#downimg_text7{
	font-weight: 600;

}
#downimg_p_text1,#downimg_p_text5,#downimg_p_text7{
	font-size: 17px;

}
#downimg_text2,#downimg_text3{
	font-weight: 600;

}
#downimg_p_text2, #downimg_p_text3{
	font-size: 17px;

}