.innerBlocktConsult{
	height: 1750px;
	/*background-image: url("/images/consultdown.png");*/
	background-size: 100% 100%;
  /*margin-top: 70px;*/
}
.innerBlocktConsult_new{
  /*height: 1700px;*/
  /*background-image: url("/images/consultdown.png");*/
  background-size: 100% 100%;
}

.downimgtext{
    font-size: 30px;
	  position: absolute;
    top: 5.5em;
    left: 20em;
    color: #333;
    font-weight: 700;
    letter-spacing: 2px;
}
@media only screen and (min-width: 1920px) and (max-width: 2560px) {
  .downimgtext{
    left:21em ! important;


  }

}
.downimgtext_new{
   /* position: absolute;
    top: 5em;
    left: 13em;*/
    font-size: 30px;
    color: #009de2;
    font-weight: 600;
}

.downimg_p_txt{
	  position: absolute;
    top: 13em;
    left: 10em;
    text-align: center; 
    font-size: 18px;
    padding-right:135px;
}
.downimg_p_txt_new{
    /*position: absolute;
    top: 12.5em;
    left: 9em;*/
    /*text-align: justify; */
    font-size: 20px
}
#consultdown_data0{
   position: absolute;
   top: 22em;
   right: 3%;
   width: 600px;

}
#consultdown_data1{
   position: absolute;
   top: 35em;
   left:5%;
   width: 552px;
   text-align: right;

}

#consultdown_data4{
	 position: absolute;
    top: 74em;
    right: 3%;
    width: 572px;
    text-align: left;

}
#consultdown_data5{
	position: absolute;
  top: 89em;
  left:2em;
  width: 572px;
  text-align: right;
}
#consultdown_data6{
	position: absolute;
  top: 102em;
  right: 5%;
  width: 572px;
  text-align: left;
}
#consultdown_data7{
	position: absolute;
  top: 113em;
  left:-2%;
  width: 600px;
  text-align: right;
}
/*responsive*/

#consultdown_data_new0{
   /*position: absolute;
   top: 29em;
   left: 54em;*/
   width: 700px;

}

#consultdown_data2{
    position: absolute;
    top: 48em;
    right: 5%;
    width: 552px;
    text-align: left;

}
#consultdown_data3{
    position: absolute;
    top: 63em;
    left:2%;
    width: 600px;
    text-align: right;

}
@media only screen and (max-width : 768px)
{
 #consultdown_data0{
  right: 0% ! important;
  width: 350px ! important;
 } 
  #consultdown_data1{
  left: 0% ! important;
  width: 350px ! important;
 } 
 #consultdown_data2{
   right: 0% ! important;
  width: 350px ! important;
 } 
  #consultdown_data3{
   left: 0% ! important;
  width: 350px ! important;
 } 
 #consultdown_data4{
   right: 0% ! important;
  width: 350px ! important;
 } 
  #consultdown_data5{
   left: 0% ! important;
  width: 350px ! important;
 } 
 #consultdown_data6{
  right: 0% ! important;
  width: 350px ! important;
 } 
  #consultdown_data7{
   left: 0% ! important;
  width: 350px ! important;
 } 
 .downimgtext{
  left:10em ! important;
 }
 .downimg_p_txt{
    top: 12.5em;
    left: 2em;
    padding-right: 0px;
 }
 #consultdown_img0{
  left:6em ! important;
 }
 #consultdown_img2{
  left:6em ! important;
 }
 #consultdown_img4{
  left:6em ! important;
 }
 #consultdown_img6{
  left:6em ! important;
 }
 #consultdown_img1{
  left:26em ! important;
 }
 #consultdown_img3{
  left:26em ! important;
 }
 #consultdown_img5{
  left:26em ! important;
 }
 #consultdown_img7 {
    top: 113em ! important;
    left: 24em ! important;
 }
 #consultdown_img8{
  left:4em ! important;
 }
 #consultdown_data8{
  width: 400px ! important;
  left: 23em ! important;
 }
 #consultdown_data9 {
    width: 350px ! important;
    text-align: right;
    left: -14em ! important;
 }
 #consultdown_img9 {
    top: 135em ! important;
    left: 24em ! important;
}
#downimg_text0,#downimg_text1,#downimg_text2,#downimg_text3,#downimg_text4,#downimg_text5,#downimg_text6,#downimg_text7,#downimg_text8 {
  font-size: 16px ! important;
}
.downimg_p_text{
  font-size: 13px ! important;
}
}
#downimg_text0,#downimg_text4,#downimg_text6{
	font-weight: 600;

}
#downimg_p_text0,#downimg_p_text4,#downimg_p_text6{
	font-size: 17px;

}
#downimg_text1,#downimg_text5,#downimg_text7{
	font-weight: 600;

}
#downimg_p_text1,#downimg_p_text5,#downimg_p_text7{
	font-size: 17px;

}
#downimg_text2,#downimg_text3{
	font-weight: 600;

}
#downimg_p_text2, #downimg_p_text3{
	font-size: 17px;

}

#consultdown_img0{
    position: absolute;
    top: 22em;
    left: 23em;
    height: 135px;
}
#consultdown_img1{
    position: absolute;
    top: 36em;
    left: 51em;
    height: 135px;
}
#consultdown_img2{
    position: absolute;
    top: 48em;
    left: 23em;
    height: 135px;
}
#consultdown_img3{
    position: absolute;
    top: 63em;
    left: 51em;
    height: 135px;
}
#consultdown_img4{
    position: absolute;
    top: 75em;
    left: 22em;
    height: 135px;
}
#consultdown_img5{
    position: absolute;
    top: 89em;
    left: 51em;
    height: 135px;
}
#consultdown_img6{
    position: absolute;
    top: 101em;
    left: 22em;
    height: 135px;
}
#consultdown_img7{
    position: absolute;
    top: 112em;
    left: 45em;
    height: 135px;
}
 #consultdown_img8{
    height: 135px;
    position: absolute;
    top: 124em;
    left: 19em;
}
#consultdown_img9{
    position: absolute;
    height: 135px;
    top: 133em;
    left: 45em;
}
#consultdown_data8{
    position: absolute;
    width: 600px;
    top: 125em;
    text-align: left;
    left: 45em;
}
#consultdown_data9{
    top: 135em;
    width: 600px;
    text-align: right;
    left: -26em;
}
@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 
      .services_img{
        height: 397px ! important;
      }
      .ct-topbar{
        right: 580px ! important;
      }
      .topnav a.icon{
        right: -15px ! important;
        top:-5px ! important;
      }
    }

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .services_img img{
    height: 311px ! important;
  }
 
  .Mobile_leftPadd{
    padding-left:0px ! important;
    }
  .serflip-card{
    margin-left: 20px ! important;
  }
  #consultdown_img0{
    top: 27em ! important;
    height: 95px ! important;
    left:4em ! important;
  }
  #consultdown_img1 {
    position: absolute;
    top: 46em ! important;
    left: 4em ! important;
    height: 97px;
}
 #consultdown_img3 {
    position: absolute;
    /*top: 99em ! important;*/
    left: 4em ! important;
    height: 97px;
}
 #consultdown_img4 {
    position: absolute;
    top: 122em ! important;
    left: 4em ! important;
    height: 97px;
}
#consultdown_img5 {
    position: absolute;
    top: 149em ! important;
    left: 4em ! important;
    height: 97px;
}
#consultdown_img6 {
    position: absolute;
    top: 170em ! important;
    left: 4em ! important;
    height: 97px;
}
#consultdown_img2{
    top: 69em ! important;
    height: 95px ! important;
    left:4em ! important;
  }
  #consultdown_data0 {
    width: 345px ! important;
    top: 474px ! important;
    left: 1em ! important;
    text-align: justify;
}
#consultdown_data1{
  top:54em ! important;
  left:1em ! important;
  text-align: justify;
  width: 300px ! important;
}
#consultdown_data2{
  top:76em ! important;
  width: 345px ! important;
  text-align: justify;
  left: 1em ! important;
}

#consultdown_data3{
  left:1em ! important;
  /*top:110em ! important;*/
  width: 345px ! important;
  text-align: justify;
  /*right: -4px ! important;*/
}
.servivesblockIog{
  padding-left: 0px ! important;
}
#consultdown_data4 {
    top: 131em ! important;
    width: 304px ! important;
    text-align: justify;
    left: 1em ! important;
}
#consultdown_data5 {
    top: 161em ! important;
    width: 306px ! important;
    text-align: justify;
    left: 1em ! important;
}
#consultdown_data6 {
    top: 180em ! important;
    width: 306px ! important;
    text-align: justify;
    left: 1em ! important;
}
.innerBlocktConsult{
  height: 2000 ! important;
}
.newinnerBlocktConsult{
  height: 2000px ! important;
}
.comp_imgDiv{
  width: 295px ! important;
}
.downimgtext{
    left: 8em ! important;
    font-size: 16.5px;
    top: 11em;
}
.downimg_p_txt{
  font-size: 13px ! important;
  top:20.5em ! important;
}
.adjustfor5{
  margin-left: 10px ! important;
}
.topnav a.icon{
  top:0px ! important;
}
.serflip-card-inner{
  margin-left: -59px ! important;
}
 } 

 @media only screen and (-webkit-device-pixel-ratio: 3) and (device-height: 812px) and (device-width: 375px)
{
    #consultdown_data0 {
        width: 345px ! important;
        top: 466px ! important;
        /*right: -12% ! important;*/
    }  
}

@media only screen and (device-height: 900px) and (device-width: 1440px){
  .downimgtext{
    left:21em !important;
  }
   #consultdown_img0{
    left: 26em ! important;
  }
   #consultdown_data0{
    right: 3% ! important;
  }
  #consultdown_data1{
    left:9% ! important;
  }
  #consultdown_data3{
   left:5% ! important;
  }
  #consultdown_data2{
    right: 6% ! important;
  }
  #consultdown_img4{
    left:26em ! important;
  }
  #consultdown_data4{
    right: 4%;
  }
  .downimg_p_txt{
    padding-right: 25px ! important;
  }
  #consultdown_data5{
    left:7% ! important;
  }
  #consultdown_img6{
    left:30em ! important;
  }
  #consultdown_data6{
    right: 5% ! important;
  }
  #consultdown_img1{
    left:56em ! important;

  }
  #consultdown_img2{
    left:26em ! important;
  }
  #consultdown_img3{
    left:56em ! important;

  }
  #consultdown_img5{
    left:56em ! important;

  }
  #consultdown_img6{
    left:26em ! important;

  }
 .img1 img{
  width: 100%;
 }  
}
@media only screen and (device-width : 1600px){ 
  .downimgtext{
    left:24em !important;
  }
   #consultdown_img0{
    left: 32em ! important;
  }
   #consultdown_data0{
    right: 6% ! important;
  }
  #consultdown_data1{
    left:13% ! important;
  }
  #consultdown_data3{
   left:10% ! important;
  }
  #consultdown_data2{
    right: 9% ! important;
  }
  #consultdown_img4{
    left:32em ! important;
  }
  #consultdown_data4{
    right: 8%;
  }
  #consultdown_data6{
    right: 8%;
  }
  .downimg_p_txt{
    padding-right: 25px ! important;
  }
  #consultdown_data5{
    left:11% ! important;
  }
  #consultdown_data6{
    right: 5% ! important;
  }
  #consultdown_img1{
    left:65em ! important;

  }
  #consultdown_img2{
    left:32em ! important;
  }
  #consultdown_img3{
    left:65em ! important;

  }
  #consultdown_img5{
    left:65em ! important;

  }
  #consultdown_img6{
    left:32em ! important;

  }
 .img1 img{
  width: 100%;
 }  
}
@media screen and (min-width: 1600px) {
 /* .downimgtext{
    left:28em !important;
  }
   #consultdown_img0{
    left: 36em ! important;
  }
   #consultdown_data0{
    right: 18% ! important;
  }
  #consultdown_data1{
    left:13% ! important;
  }
  #consultdown_data3{
    left:10% ! important;
  }
  #consultdown_data2{
    right: 21% ! important;
  }
  #consultdown_img4{
    left:36em ! important;
  }
  #consultdown_data4{
    right: 20%;
  }
  #consultdown_data5{
    left:17em ! important;
  }
  #consultdown_img6{
    left:36em ! important;
  }
  #consultdown_data6{
    right: 20% ! important;
  }
  #consultdown_img1{
    left:67em ! important;

  }
  #consultdown_img2{
    left:35em ! important;
  }
  #consultdown_img3{
    left:67em ! important;

  }
  #consultdown_img5{
    left:67em ! important;

  }
  */
}
@media screen and (device-width: 1920px) {
 .downimgtext{
    left:28em !important;
  }
   #consultdown_img0{
    left: 41em ! important;
  }
   #consultdown_data0{
    right: 18% ! important;
  }
  #consultdown_data1{
    left:17% ! important;
  }
  #consultdown_data3{
    left:14% ! important;
  }
  #consultdown_data2{
    right: 21% ! important;
  }
  #consultdown_img4{
    left:41em ! important;
  }
  #consultdown_data4{
    right: 20%;
  }
  #consultdown_data5{
    left:14% ! important;
  }
  #consultdown_img6{
    left:36em ! important;
  }
  #consultdown_data6{
    right: 20% ! important;
  }
  #consultdown_img1{
    left:67em ! important;

  }
  #consultdown_img2{
    left:41em ! important;
  }
  #consultdown_img3{
    left:67em ! important;

  }
  #consultdown_img5{
    left:67em ! important;

  }
  
}
@media screen and (device-width: 1856px) {
 .downimgtext{
    left:27em !important;
  }
   #consultdown_img0{
    left: 36em ! important;
  }
   #consultdown_data0{
    right: 18% ! important;
  }
  #consultdown_data1{
    left:13% ! important;
  }
  #consultdown_data3{
    left:10% ! important;
  }
  #consultdown_data2{
    right: 21% ! important;
  }
  #consultdown_img4{
    left:36em ! important;
  }
  #consultdown_data4{
    right: 20%;
  }
  #consultdown_data5{
    left:17em ! important;
  }
  #consultdown_img6{
    left:36em ! important;
  }
  #consultdown_data6{
    right: 20% ! important;
  }
  #consultdown_img1{
    left:67em ! important;

  }
  #consultdown_img2{
    left:35em ! important;
  }
  #consultdown_img3{
    left:67em ! important;

  }
  #consultdown_img5{
    left:67em ! important;

  }
  
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .innerBlocktConsult{
    /*height: 2910px ! important;*/
  }
 }


@media only screen 
  and (device-width: 1024px) 
  and (device-height: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    #consultdown_img0{
      left:15em ! important;

    }
     #consultdown_img2{
      left:15em ! important;
    }
     #consultdown_img4{
      left:15em ! important;
    }
     #consultdown_img6{
      left:15em ! important;
    }
    #consultdown_data0{
      right: 0% ! important;
      padding-left: 114px ! important;
    }
    #consultdown_data2{
      right: -2% ! important;
      padding-left: 100px ! important;
    }
    #consultdown_data4{
      right: -2% ! important;
      padding-left: 100px ! important;
    }
    #consultdown_data3{
      left:-10% ! important;
    }
    #consultdown_img5{
      left:38em ! important;
    }
    #consultdown_data1{
      left:-4% ! important;
    }
    #consultdown_img3{
      left:38em ! important;
    }
    #consultdown_img1{
      left:41em ! important;
    }
    #consultdown_data5{
      padding-right: 115px ! important;
    }
    #consultdown_data6{
      padding-left: 166px ! important;
    }
    .downimgtext{
      left:15em ! important;
    }
  } 

  @media only screen and (device-width: 1152px) {
    #consultdown_img0{
      left:15em ! important;

    }
     #consultdown_img2{
      left:15em ! important;
    }
     #consultdown_img4{
      left:15em ! important;
    }
     #consultdown_img6{
      left:15em ! important;
    }
    #consultdown_data0{
      right: 0% ! important;
      width: 550px ! important;
      /*padding-left: 114px ! important;*/
    }
    #consultdown_data2{
      right: -2% ! important;
      width: 550px ! important;
      /*padding-left: 100px ! important;*/
    }
    #consultdown_data4{
      right: -2% ! important;
      width: 550px ! important;
      /*padding-left: 100px ! important;*/
    }
    #consultdown_data3{
      left:2% ! important;
      width: 485px ! important;
    }
    #consultdown_img5{
      left:41em ! important;
    }
    #consultdown_data1{
      left:2% ! important;
      width: 485px ! important;
    }
    #consultdown_img3{
      left:41em ! important;
    }
    #consultdown_img1{
      left:41em ! important;
    }
    #consultdown_data5{
      left:2% ! important;
      width: 485px ! important;
    }
    #consultdown_data6{
      padding-left: 166px ! important;
    }
    .downimgtext{
      left:16em ! important;
    }
  } 


@media only screen and (device-width : 393px) and (device-height : 851px) { 
    .innerBlocktConsult {
      overflow: hidden;
      /*height: 2968px ! important;*/
    } 
    .downimg_p_txt{
      top:17em ! important;
    }
   /* .downimgtext{
      top:16em ! important;
    }
    .downimg_p_txt{
      top:23.5em ! important;
    }*/
}
@media only screen and (device-width : 320px) and (device-height : 851px) { 
    .innerBlocktConsult {
      overflow: hidden;
      }

  }  
@media only screen and (device-width : 360px) and (device-height : 640px) { 

  #consultdown_img3{
    top:97em ! important;
  }
  #consultdown_data3{
    top:104em ! important;
  }
  .innerBlocktConsult {
      overflow: hidden;
      }
  #consultdown_data0{
    left: 0px ! important;
  } 
  #consultdown_data2{
    left: 0em ! important;
  }   
  #consultdown_data3{
    left: 0em ! important;
  }
} 
@media only screen and (device-width : 320px) and (device-height : 568px) { 
  #consultdown_data3{
    top:108em ! important;
    width: 280px !important;
  } 
  #consultdown_img3{
    top:100em ! important;
  }
  #consultdown_data0{
    width: 280px ! important;
  }
   #consultdown_data3{
    width: 280px ! important;
  }
   #consultdown_data4{
    width: 280px ! important;
  }
   #consultdown_data5{
    width: 280px ! important;
  }
   #consultdown_data6{
    width: 280px ! important;
  }
  #consultdown_data2{
    width: 280px ! important;
  }

 } 
@media only screen and (device-width : 375px) and (device-height : 812px) { 

   #consultdown_data3{
    top:108em ! important;
   }
   #consultdown_img3{
    top:99em ! important;
   }
} 
@media only screen and (device-width : 375px) and (device-height : 667px) { 

   #consultdown_data3{
    top:108em ! important;
   }
   #consultdown_img3{
    top:99em ! important;
   }
} 
@media only screen and (device-width : 414px) and (device-height : 736px) { 

   #consultdown_data3{
    top:108em ! important;
   }
   #consultdown_img3{
    top:99em ! important;
   }
} 
@media only screen and (device-width : 1440px) and (device-height : 900px) {
.downimgtext{
  left:22em;
} 
}
@media only screen and (device-width : 411px) and (device-height : 731px) { 

   #consultdown_data3{
    top:108em ! important;
   }
   #consultdown_img3{
    top:99em ! important;
   }
} 
@media only screen and (device-width : 1024px) and (device-height : 768px) { 
    #consultdown_data0 {
      right: 1%;
      width: 419px;
  }
  #consultdown_img0{
        left: 12em;

  }
  #consultdown_data1{
    left: 5%;
    width: 425px;
  }
  #consultdown_img1{
    left: 41em;
  }
  #consultdown_data2{
    width: 380px;
  }
  #consultdown_img2{
    left:13em;
  }
  #consultdown_data3{
    top:65em;
    width: 465px;
  }
  #consultdown_img4{
    left:14em;
  }
  #consultdown_img3{
    top: 66em;
    left: 42em;
  }
  #consultdown_data4{
    width:392px;
  }
  #consultdown_data5{
    width: 480px;
  }
  #consultdown_img5{
    left:41em;
  }
  #consultdown_img6{
    left:15em;
  }
  #consultdown_data6{
    width: 378px;
  }
  .downimgtext{
    left:14em ! important;
  }
  .downimg_p_txt{
    left:8em ! important;
  }
}

@media only screen and (device-width : 1024px) and (device-height : 1366px) { 

   #consultdown_data3{
    top:62em ! important;
    width: 450px;
   }
   #consultdown_img0{
    left:6em ! important;
   }
   #consultdown_data0{
    right: 0% ! important;
    width: 450px;
   }
   #consultdown_data2{
    right: 0% ! important;
   }
    #consultdown_img2{
    left:6em ! important;
   }
    #consultdown_img4{
    left:6em ! important;
   }
   #consultdown_data1{
        left: -3%;
       width: 450px;
   }
   #consultdown_img3{
    top:62em ! important;
    left:33em;
   }
   #consultdown_img1{
    left:33em;
   }
   #consultdown_data4{
    right: 0%;
    width: 450px;
   }
   #consultdown_data5{
    width: 450px;
   }
   #consultdown_img5{
    left:40em;
   }
   .newcard_HD{
    width:250px;
   }
   .downimg_p_txt{
    left: 6em ! important;
    padding-right: 0px;
   }
   .downimgtext{
    left:14em ! important;
   }

} 
@media only screen and (device-width : 384px) and (device-height : 640px) { 
  #consultdown_data3 {
    position: absolute;
    top: 110em;
  }
  #consultdown_img3{
    top:99em;
  }
}
@media only screen and (device-width : 412px) and (device-height : 732px) { 
  #consultdown_data3 {
    position: absolute;
    top: 110em;
  }
  #consultdown_img3{
    top:99em;
  }
}
@media only screen and (device-width : 320px) and (device-height : 480px) { 
  #consultdown_data3 {
    position: absolute;
    top: 110em;
  }
  #consultdown_img3{
    top:99em;
  }
   #consultdown_data0 {
    width: 278px ! important;
  }
  #consultdown_data2 {
    width: 280px ! important;
  }
   #consultdown_data4 {
    width: 280px ! important;
  }
   #consultdown_data6 {
    width: 280px ! important;
  }
   #consultdown_data3 {
    width: 280px ! important;
  }
}
@media only screen and (device-width : 411px) and (device-height : 823px) { 
  #consultdown_data3 {
    position: absolute;
    top: 110em;
  }
  #consultdown_img3{
    top:99em;
  }
   #consultdown_data0 {
    width: 350px ! important;
  }
  #consultdown_data2 {
    width: 350px ! important;
  }
   #consultdown_data4 {
    width: 350px ! important;
  }
   #consultdown_data6 {
    width: 350px ! important;
  }
   #consultdown_data3 {
    width: 350px ! important;
  }
  .innerBlocktConsult{
    margin-top: -100px ! important;
  }
}
@media only screen and (device-width : 480px) and (device-height : 854px) { 
  #consultdown_data3 {
    position: absolute;
    top: 110em;
  }
  #consultdown_img3{
    top:99em;
  }
   #consultdown_data0 {
    width: 415px ! important;
  }
   #consultdown_data1 {
    width: 415px ! important;
  }
  #consultdown_data2 {
    width: 415px ! important;
  }
   #consultdown_data4 {
    width: 415px ! important;
  }
   #consultdown_data6 {
    width: 415px ! important;
  }
   #consultdown_data3 {
    width: 415px ! important;
  }
}
@media only screen and (device-width : 400px) and (device-height : 700px) { 
  #consultdown_data3 {
    position: absolute;
    top: 110em;
  }
  #consultdown_img3{
    top:99em;
  }
}
@media only screen and (device-width : 400px) and (device-height : 640px) { 
  #consultdown_data3 {
    position: absolute;
    top: 110em;
  }
  #consultdown_img3{
    top:99em;
  }
}
@media only screen and (device-width : 412px) and (device-height : 640px) { 
  #consultdown_data3 {
    position: absolute;
    top: 110em;
  }
  #consultdown_img3{
    top:99em;
  }
}
@media only screen and (device-width : 412px) { 
  #consultdown_data3 {
    position: absolute;
    top: 110em;
  }
  #consultdown_img3{
    top:99em;
  }
}
@media only screen and (device-width : 411px) and (device-height : 640px) { 
  #consultdown_data3 {
    position: absolute;
    top: 110em;
  }
  #consultdown_img3{
    top:99em;
  }
}
@media only screen and (device-width : 411px) { 
  #consultdown_data3 {
    position: absolute;
    top: 110em;
  }
  #consultdown_img3{
    top:99em;
  }
}
@media only screen and (device-width : 320px) and (device-height : 640px) { 
  #consultdown_data3 {
    position: absolute;
    top: 110em;
  }
  #consultdown_img3{
    top:99em;
  }
}
@media only screen and (device-width : 320px) { 
  #consultdown_data3 {
    position: absolute;
    top: 110em;
  }
  #consultdown_img3{
    top:99em;
  }
  #consultdown_data0{
    width: 280px ! important;
  }
  #consultdown_data1{
    width: 280px ! important;
  }
  #consultdown_data2{
    width: 280px ! important;
  }
  #consultdown_data3{
    width: 280px ! important;
  }
  #consultdown_data4{
    width: 280px ! important;
  }
  #consultdown_data5{
    width: 280px ! important;
  }
  #consultdown_data6{
    width: 280px ! important;
  }
  .new_wizardNotefor4{
    font-size: 10px ! important;
  }
}
@media only screen and (device-width : 400px) { 
  #consultdown_data3 {
    position: absolute;
    top: 110em;
  }
  #consultdown_img3{
    top:99em;
  }
}
@media only screen and (device-width : 360px) { 
  #consultdown_data3 {
    position: absolute;
    top: 110em;
  }
  #consultdown_img3{
    top:99em;
  }
}
@media only screen and (device-width : 390px) and (device-height : 844px) { 
  #consultdown_data3 {
    position: absolute;
    top: 110em;
  }
  #consultdown_img3{
    top:99em;
  }
}
@media only screen and (device-width : 320px) and (device-height : 533px) { 
  #consultdown_data3 {
    position: absolute;
    top: 110em;
  }
  #consultdown_img3{
    top:99em;
  }
  #consultdown_data0 {
    width: 278px ! important;
  }
  #consultdown_data2 {
    width: 280px ! important;
  }
   #consultdown_data4 {
    width: 280px ! important;
  }
   #consultdown_data6 {
    width: 280px ! important;
  }
   #consultdown_data3 {
    width: 280px ! important;
  }
}
@media only screen and (device-width : 401px) { 
  #consultdown_data3 {
    position: absolute;
    top: 110em;
  }
  #consultdown_img3{
    top:99em;
  }
  #consultdown_data0 {
    width: 330px ! important;
  }
  #consultdown_data2 {
    width: 330px ! important;
  }
   #consultdown_data4 {
    width: 330px ! important;
  }
   #consultdown_data6 {
    width: 330px ! important;
  }
   #consultdown_data3 {
    width: 330px ! important;
  }
  .downimg_p_txt{
    left:0em ! important;
  }
}
@media only screen and (device-width : 401px) and (device-height :700px) { 
  #consultdown_data3 {
    position: absolute;
    top: 110em;
  }
  #consultdown_img3{
    top:99em;
  }
  #consultdown_data0 {
    width: 330px ! important;
  }
  #consultdown_data2 {
    width: 330px ! important;
  }
   #consultdown_data4 {
    width: 330px ! important;
  }
   #consultdown_data6 {
    width: 330px ! important;
  }
   #consultdown_data3 {
    width: 330px ! important;
  }
  .downimg_p_txt{
    left:0em ! important;
  }
}
@media only screen and (device-width: 1280px) and (device-height: 800px) {
    #consultdown_img5{
      left:46em ! important;
    }
    #consultdown_img3{
      left:46em ! important;
    }
    #consultdown_img1{
      left:46em ! important;
    }

  }
  @media only screen and (device-width: 1280px){
    #consultdown_img5{
      left:46em ! important;
    }
    #consultdown_img3{
      left:46em ! important;
    }
    #consultdown_img1{
      left:46em ! important;
    }

  }

@media only screen and (device-width: 1536px) and (device-height: 2048px) and (orientation: portrait){
    #consultdown_data0 p{
      text-align: left ! important;
      

    }
    #consultdown_data2 p{
      text-align: left ! important;
      

    }
    #consultdown_data4 p{
      text-align: left ! important;
      

    }
    #consultdown_data6 p{
      text-align: left ! important;
      

    }

    #consultdown_data0{
      right: 4% ! important;
      width: 692px ! important;

    }
     #consultdown_data4{
      right: 4% ! important;
       width: 692px ! important;

    }
     #consultdown_data2{
      right: 4% ! important;
      width: 692px ! important;

    }
    #consultdown_img1{
      left:55em ! important;
    }
    #consultdown_img3{
      left:55em ! important;
    }
     #consultdown_img5{
      left:55em ! important;
    }
    #consultdown_data1 p{
       text-align: right ! important;

    }
    #consultdown_data3 p{
       text-align: right ! important;

    }
    #consultdown_data5 p{
       text-align: right ! important;

    }
    #consultdown_data7 p{
       text-align: right ! important;

    }
    #consultdown_img0{
      left: 31em ! important;

    }
     #consultdown_img2{
      left: 31em ! important;

    }
     #consultdown_img4{
      left: 31em ! important;

    }
    #consultdown_data1{
      left:12% ! important;
    }
    #consultdown_data3{
      left:9% ! important;
    }
    #consultdown_data5{
      left:9% ! important;
    }
    .downimgtext{
      left:22em ! important;
    }
    #consultdown_data6{
      right: 12% ! important;
    }
  }
 @media only screen and (device-width: 2048px) and (device-height:1536px ) and (orientation: landscape){
    #consultdown_img1{
     left: 76em ! important;
    }
     #consultdown_img3{
     left: 76em ! important;
    }
     #consultdown_img5{
     left: 76em ! important;
    }
    .new_wizardNotefor4 {
    right: -122px ! important;
    }
    #consultdown_img0 {
    left: 46em ! important;
   }
   #consultdown_img2 {
    left: 46em ! important;
   }
   #consultdown_img4 {
    left: 46em ! important;
   }
   #consultdown_img6 {
    left: 46em ! important;
   }
   #consultdown_data1 {
    left: 13% ! important;
    width: 690px ! important;
  }
   #consultdown_data3 {
    left: 13% ! important;
    width: 690px ! important;
  }
   #consultdown_data5 {
    left: 13% ! important;
     width: 690px ! important;
  }
  #consultdown_data0{
    right: 16% ! important;
    width: 690px ! important;
    }
    #consultdown_data2{
    right: 16% ! important;
    width: 690px ! important;
    }
    #consultdown_data4{
    right: 16% ! important;
    width: 690px ! important;
    }
    .downimgtext {
        left: 30em !important;
    }
  }
   @media only screen and (device-width: 2048px) and (orientation: landscape){
    #consultdown_img1{
     left: 76em ! important;
    }
     #consultdown_img3{
     left: 76em ! important;
    }
     #consultdown_img5{
     left: 76em ! important;
    }
    .new_wizardNotefor4 {
    right: -122px ! important;
    }
    #consultdown_img0 {
    left: 46em ! important;
   }
   #consultdown_img2 {
    left: 46em ! important;
   }
   #consultdown_img4 {
    left: 46em ! important;
   }
   #consultdown_img6 {
    left: 46em ! important;
   }
   #consultdown_data1 {
    left: 13% ! important;
    width: 690px ! important;
  }
   #consultdown_data3 {
    left: 13% ! important;
    width: 690px ! important;
  }
   #consultdown_data5 {
    left: 13% ! important;
     width: 690px ! important;
  }
  #consultdown_data0{
    right: 16% ! important;
    width: 690px ! important;
    }
    #consultdown_data2{
    right: 16% ! important;
    width: 690px ! important;
    }
    #consultdown_data4{
    right: 16% ! important;
    width: 690px ! important;
    }
    #consultdown_data6{
    right: 16% ! important;
    width: 690px ! important;
    }
    .downimgtext {
        left: 30em !important;
    }
  }
  @media only screen 
  and (device-width: 1024px) and (device-height: 1366px)  and (orientation: portrait) {
  .newcard_landscape{
    width: 220px ! important;

  }
  .downimgtext{
    left:15em ! important;
  } 
  #consultdown_img1{
    left:36em ! important;
  }
  #consultdown_img3{
    left:36em ! important;
  }
  #consultdown_img5{
    left:36em ! important;
  }
  #consultdown_data4{
    right: 6% ! important;
  }
   #consultdown_data2{
    right: 0% ! important;
    width: 490px  !important;
  }
   #consultdown_data1{
    left: 2em ! important;
    /*width: 490px  !important;*/
  }

   #consultdown_data6{
    right: 3% ! important;
    width: 490px ! important;
  }
  #consultdown_img0{
    left:13em ! important;
  }
  #consultdown_img2{
    left:13em ! important;
  }
  #consultdown_img4{
    left:13em ! important;
  }
  #consultdown_img6{
    left:13em ! important;
  }
}
@media only screen and (device-width: 2560px) and (device-height:1600px ) {
    #consultdown_img1{
     left: 90em ! important;
    }
     #consultdown_img3{
     left: 90em ! important;
    }
     #consultdown_img5{
     left: 90em ! important;
    }
    .new_wizardNotefor4 {
    right: -122px ! important;
    }
    #consultdown_img0 {
    left: 63em ! important;
   }
   #consultdown_img2 {
    left: 63em ! important;
   }
   #consultdown_img4 {
    left: 63em ! important;
   }
   #consultdown_img6 {
    left: 63em ! important;
   }
   #consultdown_data1 {
    left: 20% ! important;
    width: 690px ! important;
  }
   #consultdown_data3 {
    left: 20% ! important;
    width: 690px ! important;
  }
   #consultdown_data5 {
    left: 20% ! important;
     width: 690px ! important;
  }
  #consultdown_data0{
    right: 23% ! important;
    width: 690px ! important;
    }
    #consultdown_data2{
    right: 23% ! important;
    width: 690px ! important;
    }
    #consultdown_data4{
    right: 23% ! important;
    width: 690px ! important;
    }
    #consultdown_data6{
    right: 23% ! important;
    width: 690px ! important;
    }
    .downimgtext {
        left: 38em !important;
    }
  }

  @media only screen and (device-width: 1680px) and (device-height: 1050px) {
  .downimgtext {
    left: 25em !important;
  }
  #consultdown_data0 {
    right: 7% ! important;
    width: 700px ! important;
  }
  #consultdown_data2 {
    right: 7% ! important;
    width: 700px ! important;
  }
  #consultdown_data4 {
    right: 7% ! important;
    width: 700px ! important;
  }
  #consultdown_data6 {
    right: 7% ! important;
    width: 700px ! important;
  }
  #consultdown_img1 {
    left: 61em ! important;
  }
   #consultdown_img3 {
    left: 61em ! important;
  }
   #consultdown_img5 {
    left: 61em ! important;
  }
  #consultdown_data1 {
    left: 6% ! important;
    width: 700px ! important;
  }
   #consultdown_data3 {
    left: 6% ! important;
    width: 700px ! important;
  }
   #consultdown_data5 {
    left: 6% ! important;
    width: 700px ! important;
  }
  .blogtext h4{
    height: 72px ! important
  }
 }
  @media only screen and (device-width: 1680px) {
  .downimgtext {
    left: 25em !important;
  }
  #consultdown_data0 {
    right: 7% ! important;
    width: 700px ! important;
  }
  #consultdown_data2 {
    right: 7% ! important;
    width: 700px ! important;
  }
  #consultdown_data4 {
    right: 7% ! important;
    width: 700px ! important;
  }
  #consultdown_data6 {
    right: 7% ! important;
    width: 700px ! important;
  }
  #consultdown_img1 {
    left: 61em ! important;
  }
   #consultdown_img3 {
    left: 61em ! important;
  }
   #consultdown_img5 {
    left: 61em ! important;
  }
  #consultdown_data1 {
    left: 6% ! important;
    width: 700px ! important;
  }
   #consultdown_data3 {
    left: 6% ! important;
    width: 700px ! important;
  }
   #consultdown_data5 {
    left: 6% ! important;
    width: 700px ! important;
  }
  .blogtext h4{
    height: 72px ! important
  }
  #consultdown_img0{
    left:35em ! important;
  }
   #consultdown_img2{
    left:35em ! important;
  }
   #consultdown_img4{
    left:35em ! important;
  }
   #consultdown_img6{
    left:35em ! important;
  }
 }
 @media screen and (device-width: 1792px) {
 .downimgtext{
    left:27em !important;
  }
   #consultdown_img0{
    left: 36em ! important;
  }
   #consultdown_data0{
    right: 18% ! important;
  }
  #consultdown_data1{
    left:13% ! important;
  }
  #consultdown_data3{
    left:10% ! important;
  }
  #consultdown_data2{
    right: 21% ! important;
  }
  #consultdown_img4{
    left:36em ! important;
  }
  #consultdown_data4{
    right: 20%;
  }
  #consultdown_data5{
    left:17em ! important;
  }
  #consultdown_img6{
    left:36em ! important;
  }
  #consultdown_data6{
    right: 20% ! important;
  }
  #consultdown_img1{
    left:60em ! important;

  }
  #consultdown_img2{
    left:35em ! important;
  }
  #consultdown_img3{
    left:60em ! important;

  }
  #consultdown_img5{
    left:60em ! important;

  }
  #consultdown_img7{
    left:60em ! important;

  }
  
}

 @media only screen and (device-width : 800px) { 
      .ct-topbar{
        left:515px ! important;
      }
      .B4T_ServicesDiv{
        width: 530px ! important;
      }
      .topnav.responsive{
            width: 600px ! important;
            height: 529px ! important;
            left: -158px ! important;
      }
      .newcard_landscape {
          width: 202px ! important;
          margin-left: 35px;
      }
      #consultdown_img1{
        left:21em ! important;
      }
       #consultdown_img3{
        left:21em ! important;
      }
       #consultdown_img5{
        left:21em ! important;
      }
      #consultdown_img0{
       top: 24em;
       left: 7em;
      }
      #consultdown_data1 {
        left: -3% ! important;
        width: 401px ! important;
       }
        #consultdown_data2 {
        position: absolute;
        top: 48em;
        right: 0%;
        width: 400px;
      }
      #consultdown_img1 {
          height: 135px ! important;
          left: 27em ! important;
      }

        #consultdown_img2 {
        top: 49em;
        left: 4em;
       }
        #consultdown_data3 {
         left: -5% ! important;
        width: 401px ! important; 
      }
      #consultdown_img3 {
          left: 28em ! important;
          height: 135px ! important;
      }
      #consultdown_img4{
        left: 2em ! important;
         height: 135px ! important;
      }
       #consultdown_img6{
        left: 2em ! important;
         height: 135px ! important;
      }
      #consultdown_data5 {
          width: 400px ! important;
          left: -3em ! important;
      }
      #consultdown_img5 {
          left: 27em ! important;
          height: 135px;
      }
      .downimgtext{
        left: 12em ! important;
      }
      #consultdown_data0 {
        position: absolute;
        top: 24em;
        right: 0%;
        width: 400px;
      }
      #consultdown_data4 {
        right: 0%;
        width: 400px;
      }
       #consultdown_data6 {
        right: 0%;
        width: 400px;
      }
      .downimg_p_txt
      {
        left:7em;
      }

  }   


 

