.etrmbenefits_paraaa-top{
    margin-bottom: -1px;
    font-size: 50px;
    font-weight: 700;
    margin-top: 32px;
}
.etrmbenefits_paraaa-top5{
    margin-bottom: -1px;
    font-size: 34px;
    font-weight: 700;
    margin-top: 32px;
}

.etrmbenefits_line_paraaaa{
    line-height: 30px;
    font-size: 19px;
}
.etrmbenefits_line_paraaaa1{
    line-height: 30px;
    font-size: 19px;
}
.etrmbenefits_line_paraaaa2{
    line-height: 30px;
    font-size: 19px;
}
.etrmbenefits_line_paraaaa3{
    line-height: 30px;
    font-size: 19px;
}
.etrmbenefits_line_paraaaa4{
    line-height: 30px;
    font-size: 19px;
}
.etrmbenefits_line_paraaaa5{
    line-height: 30px;
    font-size: 19px;
}

.etrmbenefits_subtitle_paraaaa{
line-height: 30px;
    font-size: 32px;
    color: #f19000;
    font-weight: bold;
}



.etrmbenefits_line_subheadd{
    /*font-weight: 600;*/
    font-size: 33px;
    color: #3a3737;
    font-weight: bold;
  }

.bluetext {
    color: #1378d4;
}
.yellowtext {
    color: #f19000;
}

.line_etrmbenefits {
    background-color: #f19000;
    width: 105px;
    margin-top: 143px;
    height: 4px;
    /* margin-left: 500px; */
    text-align: center;
}

.etrmbenefits_list{
    font-size: 19px;
    /*color: #7b6f6f;*/
    background-repeat: no-repeat;
    margin-left: 78px;
    padding-bottom: 10px;
    color: #1378d4;
  }

.etrmbenefits_sublist{
    margin-left: 90px;
    font-size: 19px;
    line-height: 28px;
    margin-bottom: 10px;
    /*color: #7b6f6f;*/
 }
 .etrmbenefits_subsublist{
   margin-left: 130px;
    font-size: 19px;
    line-height: 28px;
    margin-bottom: 10px; 
 }


.etrmbenefits_list1{
    font-size: 19px;
    /*color: #7b6f6f;*/
    background-repeat: no-repeat;
    margin-left: 78px;
    padding-bottom: 10px;
    color: #1378d4;
  }

.etrmbenefits_sublist1{
    margin-left: 90px;
    font-size: 19px;
    line-height: 28px;
    margin-bottom: 10px;
    /*color: #7b6f6f;*/
 }
 .etrmbenefits_subsublist1{
   margin-left: 130px;
    font-size: 19px;
    line-height: 28px;
    margin-bottom: 10px; 
 }


.etrmbenefits_list2{
    font-size: 19px;
    /*color: #7b6f6f;*/
    background-repeat: no-repeat;
    margin-left: 78px;
    padding-bottom: 10px;
    color: #1378d4;
  }

 .etrmbenefits_subsublist2{
   margin-left: 130px;
    font-size: 19px;
    line-height: 28px;
    margin-bottom: 10px; 
 }
 .etrmbenefits_subsublist2{
   margin-left: 130px;
    font-size: 19px;
    line-height: 28px;
    margin-bottom: 10px; 
 }

 .etrmbenefits_paraaa-top6{
    margin-bottom: 5px;
    font-size: 34px;
    font-weight: 700;
    margin-top: 32px;
    color: #f19000;
 }

 .etrmbenefits_mb{
    margin-bottom: 100px;
 }