.new_connecting-line {
    height: 1px;
    background: #999;
    position: absolute;
    width: 100% ! important;
    margin: 0 auto;
    left: 0;
    right: 640px ! important;
    top: 56%;
    z-index: 1;
}
.new_tab{
    border: none ! important;  
}
 .navigation_tab{
      margin-left: 32px ! important;
    }

.new_wizardNote
 {
    /* border: 1px solid; */
    text-align: center;
    margin-right: 0px;
    position: relative;
    top: 31px;
    right: 15px;
    color: #333;
    font-weight: 500;
 }
 .new_wizardNotefor9
 {
    /* border: 1px solid; */
    text-align: center;
    margin-right: 0px;
    position: relative;
    top: 31px;
    right: 15px;
    color: #333;
    font-weight: 500;
 }
 .new_wizardNotefor3
 {
    /* border: 1px solid; */
    text-align: center;
    margin-right: 0px;
    position: relative;
    top: 31px;
    right: 32px;
    color: #333;
    font-weight: 500;
 }
 .new_wizardNotefor5
 {
    /* border: 1px solid; */
    text-align: center;
    margin-right: 0px;
    position: relative;
    top: 31px;
    right: 25px;
    color: #333;
    font-weight: 500;
 }
 .new_wizardNotefortwo
 {
    /* border: 1px solid; */
    text-align: center;
    margin-right: 0px;
    position: relative;
    top: 31px;
    right: 83px;
    color: #333;
 }
 .new_wizardNotefor4
 {
    /* border: 1px solid; */
    text-align: center;
    margin-right: 0px;
    position: relative;
    top: 31px;
    right: -85px;
    color: #333;
    font-weight: 500;
 }
@media only screen 
    and (device-width : 1440px) 
    and (device-height : 900px) { 
    .new_wizardNotefor5{
    right: 25px ! important;
  }
}
@media only screen 
    and (device-width : 1920px) 
    and (device-height : 768px) { 
    .new_wizardNotefor4{
    right: -110px ! important;
  }
  .new_wizardNote_for6{
    right: 72px ! important;
  }
}
 .new_wizardNote_for6
 {
    /* border: 1px solid; */
    text-align: center;
    margin-right: 0px;
    position: relative;
    top: 35px;
    right: 50px;
    color: #333;
 }
 .wizard-inner{
    margin-top: 20px;
 }
 .new_wizard{
    height: 200px;
    color: #333;
    margin: 0px 0px;
    padding-top: 35px;
    background: #005b9929;

 }
 .new_wizard_length{
    height: 100px;
    color: #fff;
    margin: 45px 0px;
    padding-top: 35px;
    background: #004266;
    margin-left: 20px;

 }
 .forthreeCircles{
    margin-left: ''
 }

 .new_round-tab {
    width: 24px;
    margin-left: 29%;
    height: 24px;
    line-height: 36px;
    display: inline-block;
    border-radius: 100px;
    background: #f1f1f1;
    border: 2px solid #fff;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 18px;
    color: #000;
    /*top:44px;*/
}
 .new_round-tabfor6 {
    width: 24px;
    margin-left: 21%;
    height: 24px;
    line-height: 36px;
    display: inline-block;
    border-radius: 100px;
    background: #f1f1f1;
    border: 2px solid #fff;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 18px;
    color: #000;
    /*top:44px;*/
}
.new_round-tabfor5 {
    width: 24px;
    margin-left: 29%;
    height: 24px;
    line-height: 36px;
    display: inline-block;
    border-radius: 100px;
    background: #f1f1f1;
    border: 2px solid #fff;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 18px;
    color: #000;
    /*top:44px;*/
}
.new_round-tabfor9 {
    width: 24px;
    margin-left: 29%;
    height: 24px;
    line-height: 36px;
    display: inline-block;
    border-radius: 100px;
    background: #f1f1f1;
    border: 2px solid #fff;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 18px;
    color: #000;
    /*top:44px;*/
}
.new_round-tabfor3 {
    width: 24px;
    margin-left: 29%;
    height: 24px;
    line-height: 36px;
    display: inline-block;
    border-radius: 100px;
    background: #f1f1f1;
    border: 2px solid #fff;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 18px;
    color: #000;
    /*top:44px;*/
}
 .new_round-tabforTwo  {
    width: 24px;
    margin-left: 18%;
    height: 24px;
    line-height: 36px;
    display: inline-block;
    border-radius: 100px;
    background: #f1f1f1;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 18px;
    color: #000;
    /*top:44px;*/
}
.new_round-tabfor4 {
    width: 24px;
    margin-left: 90%;
    height: 24px;
    line-height: 36px;
    display: inline-block;
    border-radius: 100px;
    background: #f1f1f1;
    border: 3px solid #fff;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 18px;
    color: #000;
    /*top:44px;*/
}
.nopadding{
    padding: 0px;
}
.new_round-tab:hover{
    cursor: pointer;
}
.active{
    /* background-color: #a8a; */
   background-color: orange;
   box-shadow: 0px 0px 8px 0px #fff;
   font-weight: 600;
}
.navigation_img{
    height: 20px;
    width: 100%;
}
.navigation_tab{
    width: 112px;
    margin-left: 32px;
}
.navigation_tab_for6{
    /*width: 165px;*/
    margin-top: 42px;
}
#new_wizardNote_new0{
    width: 147px;
    color: #ffffff;
    position: relative;
    top: 24px;
    right: 21px;

}
#new_wizardNote_new1{
    width: 147px;
    color: #ffffff;
    position: relative;
    bottom: 27px;
    right: 21px;

}
#new_wizardNote_new2{
    color: #ffffff;
    width: 216px;
    top: 24px;
    position: relative;
    right: 21px;
}
#new_wizardNote_new3{
    color: #ffffff;
    position: relative;
    bottom: 27px;
    width: 183px;
    right: 20px;
}
.navigationTitle{
    color: #333;
    /*position: absolute; */
    bottom: 4px;
    left: 254px;
    font-weight: 600;
    font-size: 23px;
    
}
.new_navigationTitle{
    color: #333;
    /*position: absolute; */
    bottom: 4px;
    left: 578px;
    font-weight: 600;
    font-size: 25px;
    bottom:14px;

}
.navigationTitle_for5{
    color: #333;
    font-weight: 600;
    font-size: 25px;
    bottom:14px;

}
/*.navigationTitle_for6{
    color: #ffffff;
    position: absolute; 
    top: -12px;
    left: 3px;
    font-weight: 600;
    font-size: 23px;
    bottom:14px;

}*/

.navigationTitle_for6
{   
    color: #333;
    font-size: 25px;
    font-weight: 600;
    left: 596px;
    top: 19px;
    position: absolute;
}
#NavposFor51{
    top:-32px ! important;

}
#NavposFor53{
    top:-32px ! important;

}
.lineFor5{
    margin-top: 26px;
}
.innerdivFor5{
    margin-top: 24px;
}
@media only screen and (max-width : 736px)
{
  .navigation_tab
  {
   width:112px;
  }
  .navigation_tab{
    margin-left: 20px ! important;

  }

  
}
@media only screen and (max-width : 767px)
{
    .navigation_tab{
    margin-left: 20px ! important;

  }
  .new_round-tabforTwo{
    margin-left: 98%;
  }
  .new_wizardNotefortwo{
    right: -129px;
  }
  .new_wizardNote{
    font-size: 11px;
    /*right: -87px ! important;*/
  }
  .new_round-tab{
    margin-left: 5% ! important;
  }
  
 .para-top_website{
    margin-top: 20px ! important;
 }
 /*.B4T_ServicesDiv{
    margin-left: 73px ! important;
    min-height: 150px;
    width: 580px;
 }*/
 /*.B2T1_line{
    margin-left: 174px ! important;
 }*/
/* .B2T1_line1{
    margin-left:345px ! important;
 }*/
 .B2T_serviceTitle{
    margin-left: 190px;
 }
 .B2T_challengesTitle{
    margin-left: 90px;
 }
 .BT4_imgBack{
    margin-left: 66px;
 }
 .BT4_txt{
    margin-left: 43px;
 }
 
 .new_wizardNotefor4{
    /*left:109px;*/
 }
.new_wizardNotefor5{
    /*right: -59px ! important;*/
    font-size: 10px ! important;
 }
 .new_wizardNote_for6{
    right: 13px ! important;
    font-size: 8px ! important;
    color: #000 ! important;
    font-weight: 500 ! important
 }
 .adjustfor5{
    margin-left: 0px;
 }
}
@media only screen and (max-width : 600px){
.BT4_imgBack{
    margin-left: 102px;
}
.BT4_txt{
    text-align: center;
    margin-left: 0px;
}
.BT3_subhead{
    margin-left: -11px;
}
.iogimg_4 img{
    width: 240px ! important;
}
.mb_100{
    margin-bottom: 0px ! important;
}

}
@media only screen and (min-width: 768px)  {

  
}
@media screen and (min-width: 480px) {
.adjustfor5{
    margin-left: 10px ! important;
}

/*.new_round-tabfor4{
    margin-left:27% ! important;
}*/
/*
.new_wizardNotefor4 {
    left: -6px ! important;
    font-size: 12px ! important;
}*/
.pt20{
    padding-top: 24px ! important;
}
.iogimg_4 img{
    width: 241px ! important;
}
}

@media screen and (min-width: 1400px) {
    .navigation_tab{
        margin-left: 37px ! important;
    }
}


@media screen and (min-width: 1600px) {
    .navigation_tab{
        margin-left: 48px ! important;
    }
    .new_round-tabfor3{
        margin-left: 49% ! important;
    }
    .new_wizardNotefor3{
            right: -17px ! important;
    }
  
}
@media screen and (min-width: 1900px) {
      .navigation_tab{
        margin-left: 48px ! important;
    }
    .navigationTitle_for6{
        left:815px ! important;
    }
      
}
@media only screen 
  and (device-width: 1024px) 
  and (device-height: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .navigation_tab{
        margin-left: 26px ! important
    }
    .new_round-tabforTwo{
        left:145% ! important;
    }
    .new_wizardNotefortwo{
        right: -252px ! important;
    }

  }
  @media only screen 
  and (device-width: 1024px) 
  and (device-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
   .navigationTitle_for6{
    left: 436px ! important;
   }
   .newcard_landscape{
    /*width: 300px ! important;*/
   }
    
  }

 @media only screen and (device-width : 360px) and (device-height : 640px) { 
    .new_round-tabfor5 {
       /*width : 268px ! important;*/
       margin-left: 28% ! important;
      }
    .new_wizardNotefor5{
        right: 5px ! important;
    }  
    .new_round-tabfor6{
        margin-left: 2% ! important;
     }
  } 
   @media only screen and (device-width : 320px) and (device-height : 568px) { 
    .adjustfor5{
       /*width : 268px ! important;*/
       margin-left: 0px ! important;
      }
      .new_wizardNotefor4{
        left: 0px;
      }
      .righttextaboutus{
        width: 210px;
      }
      .new_round-tabfor6{
        margin-left: 10% ! important;
      }
      .new_wizardNote_for6{
        font-size: 6px !important;
      }
      .new_wizardNotefor5{
        font-size: 8px ! important;
      }
     
  } 
   @media only screen and (device-width : 384px) and (device-height : 640px) { 
    .new_round-tabfor6 {
        margin-left: 11% ! important;
    }
   }
     @media only screen and (device-width : 600px) and (device-height : 960px) { 
    .new_round-tabfor6 {
        margin-left: 24% ! important;
    }
    .new_round-tabfor4 {
        margin-left: 39% ! important;
    }
    .new_wizardNotefor4 {
        left: -5px ! important;
    }
    .webclientbackimg{
      width: 500px;
      margin-left: 40px;
      border:1px solid  #eee;
    }
    .webclientcaro{
      width: 450px ! important;
    }
   }

  @media only screen and (device-width : 375px) and (device-height : 667px) { 
    .new_round-tabfor5 {
       /*width : 268px ! important;*/
       margin-left: 18% ! important;
      }
    .new_wizardNotefor5{
        right: 5px ! important;
    }  
  } 

 @media only screen and (device-width : 375px) and (device-height : 812px) { 
    .new_round-tabfor5 {
       /*width : 268px ! important;*/
       margin-left: 18% ! important;
      }
     .new_round-tabfor6{
        margin-left: 16% ! important;
     }
     .new_wizardNotefor5{
        right: 5px ! important;
     }
    .new_wizardNote_for6{
        right: 3px ! important;
    }  
    .serflip-cardservices img{
        margin-left: 20px;
    }
    .new_wizardNote_for6{
      right: 9px;
    }

  }      

 @media only screen and (device-width : 414px) and (device-height : 736px) { 
   .new_round-tabfor6 {
            margin-left: 32% ! important;
        }
    .new_wizardNote_for6{
        right: 3px ! important;
    }  
    .navigationTitle_for6 {
            left: 98px ! important;
        }
    .new_round-tabfor5{
            margin-left: 36% ! important;
    }  
    .new_wizardNotefor5{
        right: 1px ! important;
    }  
  } 

   @media only screen and (device-width : 393px) and (device-height : 851px) { 
   .new_round-tabfor6 {
            margin-left: 18% ! important;
        }
    .new_wizardNote_for6{
        right: 3px ! important;
    }  
    .new_round-tabfor5{
        margin-left: 28% ! important;
    }
    .new_wizardNotefor5{
        right: 2px ! important;
    }
  }  

 @media only screen and (device-width : 411px) and (device-height : 731px) { 
           .new_round-tabfor6 {
            margin-left: 33% ! important;
        }

        .new_wizardNote_for6{
            right: -4px ! important;
        }
  }  

  @media only screen and (device-width : 411px) and (device-height : 823px) { 
          

        .new_wizardNote_for6{
            right: 0px ! important;
        }
  }
   @media only screen and (device-width : 411px) { 
          

        .new_wizardNote_for6{
            right: 0px ! important;
        }
  }

@media only screen 
  and (device-width: 1024px) 
  and (device-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
     .navigation_tab{
      margin-left: 25px ! important;
    }

  }

  @media only screen 
  and (device-width: 1024px) 
  and (device-height: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
     .navigation_tab{
      margin-left: 35px ! important;
    }
    .new_wizardNotefor9{
        right: 15px ! important;
    }

}
   
   
  @media only screen 
  and (device-width: 1440px) 
  and (device-height: 900px) 

  /*and (orientation: landscape) */
 { 
  .B3T_challengesDiv{
    margin-left: 35px;
    width: 347px;
  }
  .B4T_ServicesDiv{
    margin-left: 80px;
  }
  .navigation_tab{
    margin-left: 35px ! important;
  }
  .navigationTitle_for6 {
    left: 630px ! important;
    }
 
 } 
@media only screen 
  and (device-width: 768px) 
  and (device-height: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
   
     .navigation_tab{
      margin-left: 20px ! important;
     }

  } 
@media only screen 
  and (device-width: 1024px) 
  and (device-height: 768px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
   
     .navigation_tab{
      margin-left: 27px ! important;
     }
     .adjustfor5{
        margin-left: 24px ! important;
     }
     .new_wizardNote_for6{
        right: 30px ! important;
     }
     .new_wizardNotefor9{
        right: 5px ! important;
     }

  } 

   @media only screen and (device-width : 384px) and (device-height : 640px) { 
    .new_round-tabfor5 {
        margin-left: 37% ! important;
    }
    .new_wizardNotefor5{
      right: 0px;
    }
    .new_round-tabfor6{
      margin-left: 25%;
    }
    .new_wizardNote_for6{
      right: 4px;
    }
   
 }
  @media only screen and (device-width : 411px) and (device-height : 823px) { 
    .new_round-tabfor5 {
        margin-left: 37% ! important;
    }
    .new_wizardNotefor5{
      right: 2px ! important;
    }
    .new_round-tabfor6{
   }
   
 }
 @media only screen and (device-width : 400px) and (device-height : 700px){ 
  .new_round-tabfor5 {
        margin-left: 30% ! important;
    }
    .new_wizardNotefor5{
      right: 3px ! important;
    }
   .new_round-tabfor6 {
     margin-left: 14% ! important;
    } 
 }
 @media only screen and (device-width : 401px) and (device-height : 700px){ 
  .new_round-tabfor5 {
        margin-left: 30% ! important;
    }
    .new_wizardNotefor5{
      right: 3px ! important;
    }
   .new_round-tabfor6 {
     margin-left: 14% ! important;
    } 
 }
 @media only screen and (device-width : 401px){ 
  .new_round-tabfor5 {
        margin-left: 30% ! important;
    }
    .new_wizardNotefor5{
      right: 3px ! important;
    }
   .new_round-tabfor6 {
     margin-left: 14% ! important;
    } 
 }
 @media only screen and (device-width : 375px) and (device-height : 667px){ 
 .new_round-tabfor6{
    margin-left: 11% ! important;
   }
   .new_wizardNote_for6{
    right: 11px ! important;
   }
 }  

@media only screen and (device-width : 411px) and (device-height : 823px){ 
  .new_round-tabfor6 {
      margin-left: 35% ! important;
  }
}  
@media only screen and (device-width : 390px) and (device-height : 844px){ 
  .new_round-tabfor6 {
      margin-left: 21% ! important;
  }
  .new_wizardNote_for6 {
    right: 7px ! important;
  }
}  

@media only screen and (device-width : 320px) and (device-height : 568px){ 
  .new_wizardNote_for6{
    right: 8px ! important;
  }
}  
@media only screen and (device-width : 320px) and (device-height : 533px){ 
  .new_wizardNote_for6{
    font-size: 6px ! important;
  }
    .new_round-tabfor6 {
      margin-left: 6% ! important;
  }

}  
@media only screen and (device-width : 320px){ 
  .new_wizardNote_for6{
    font-size: 6px ! important;
  }
  
}  
@media only screen and (device-width : 480px) and (device-height : 854px){ 
  .new_wizardNote_for6{
    right: 8px ! important;
  }
} 
@media only screen and (device-width : 412px) and (device-height : 732px){ 
  .new_wizardNote_for6{
    right: 16px ! important;
  }
  .new_round-tabfor6{
    margin-left: 17% ! important;
  }
}  
@media only screen and (device-width : 412px){ 
  .new_wizardNote_for6{
    right: 16px ! important;
  }
    .new_wizardNote_for6 {
      right: 6px ! important;
  }
}  
@media only screen 
  and (device-width: 2048px) 
  and (device-height: 1536px) 
  and (orientation: landscape){
    
    .new_wizardNote_for6{
      right: 79px ! important;
    }

  } 
  @media only screen 
  and (device-width: 1536px) 
  and (device-height: 2048px) 
  and (orientation: portrait){
     .new_wizardNote_for6{
      right: 53px ! important;
     }
     .new_wizardNotefor4{
      right: -95px ! important;
     }
  }    
  @media only screen 
  and (device-width: 2048px) 
  and (device-height: 1536px) 
  and (orientation: landscape){
     .new_wizardNote_for6{
      right: 73px ! important;
     }
     .new_wizardNotefor4{
      right: -121px ! important;
     }
     .new_wizardNotefor5{
      right: 47px ! important;
     }
  }    
 @media only screen and (device-width : 2560px) and (device-height : 1600px) {
  .new_wizardNotefor4{
    right: -146px ! important;
  }
 }
@media only screen and (device-width : 1680px) and (device-height : 1050px) { 
  .new_wizardNotefor4{
    right:-99px ! important; 
  }
  .navigation_tab {
    margin-left: 40px ! important;
  }
} 



